<%- include('../partials/head') %>
<div class="navtoptap shadow-5-strong" style="z-index: 10;">
  <div class="text-end flag-lang container-lg d-flex justify-content-end">
    <div class="dropdown nav-item me-5 my-auto mt-2">
      <a class="dropdown-toggle d-flex align-items-center hidden-arrow mini-profile" href="#"
        id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        <img src="<%= session.picture %>" alt="profile" />
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
        <li>
          <a class="dropdown-item" href="/userprofile">ตั้งค่าบัญชี</a>
        </li>
        <li>
          <a class="dropdown-item" href="/logout">ออกจากระบบ</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<nav class="nav-admin navbar-light" style="z-index: 10 !important;">
  <!-- <div class="align-self-center me-4" id="mini-nav-btn">
    <i class="fas fa-bars fs-4"></i>
  </div> -->
  <div class="text-center">
    <img src="/assets/img/logo.png" alt="clipartpress" class="img-fluid text-center" width="130">
  </div>
  <hr class="ms-3 me-3">
  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="<%= currentLink == "dashborad" ? 'admin-navlink admin-nav-active' : 'admin-navlink' %>"
          aria-current="page" href="/admin/dashborad">
          <i class="fa fa-chart-line"></i>
          <span class="align-self-center">แดชบอร์ด</span>
        </a>
      </li>
      <!-- <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="admin-navlink <%= currentLink == "order" ? 'admin-nav-active' : '' %>" href="/admin/orders">
          <i class="fas fa-clipboard-list"></i>
          <span class="align-self-center">ออเดอร์</span>
        </a>
      </li> -->

      <li class="nav-item ripple <%= currentLink == 'order' || currentLink == "payment" ? 'shadow-4-strong' : " "%> "
        data-mdb-ripple-color="light">
        <div class="admin-navlink admin-dropdown" id="sale-btn" data-mdb-toggle="collapse" data-mdb-target="#sale">
          <i class="fas fa-coins"></i>
          <span class="align-self-center">การขาย</span>
          <i class="fas fa-caret-down text-end"></i>
        </div>
        <div class="collapse <%= currentLink == 'order' || currentLink == "payment" ? 'show' : " "%>" id="sale">
          <a class="admin-navlink <%= currentLink == 'order' ? 'admin-nav-active' : " "%>" href="/admin/orders">
            <span class="ms-5 align-self-center">ออเดอร์</span>
          </a>
          <a class="admin-navlink <%= currentLink == 'payment' ? 'admin-nav-active' : " "%>"
            href="/admin/payment">
            <span class="ms-5 align-self-center">แจ้งชำระเงิน</span>
          </a>
        </div>
      </li>


      <!-- <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="<%= currentLink == "dashborad" ? 'admin-navlink admin-nav-active' : 'admin-navlink' %>"
          aria-current="page" href="/admin/product-list">
          <i class="bi bi-box-seam-fill"></i>
          <span class="align-self-center">สินค้า</span>
        </a>
      </li>
      <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="<%= currentLink == "dashborad" ? 'admin-navlink admin-nav-active' : 'admin-navlink' %>"
          aria-current="page" href="/admin/options">
          <i class="fa-solid fa-scroll"></i>
          <span class="align-self-center">ออฟชั่นสินค้า</span>
        </a>
      </li> -->

      <li
        class="nav-item ripple <%= currentLink == 'allproduct' || currentLink == "option" ? 'shadow-4-strong' : " "%> "
        data-mdb-ripple-color="light">
        <div class="admin-navlink admin-dropdown" data-mdb-toggle="collapse" data-mdb-target="#product">
          <i class="bi bi-box-seam-fill"></i>
          <span class="align-self-center">สินค้า</span>
          <i class="fas fa-caret-down text-end"></i>
        </div>
        <div class="collapse <%= currentLink == "option" ? 'show' : " "%>" id="product">
          <a class="admin-navlink <%= currentLink == 'option' ? 'admin-nav-active' : " "%>" href="/admin/options">
            <span class="ms-5 align-self-center">ออฟชั่นสินค้า</span>
          </a>
          <a class="admin-navlink <%= currentLink == 'allproduct' ? 'admin-nav-active' : " "%>"
            href="/admin/product-list">
            <span class="ms-5 align-self-center">จัดการสินค้า</span>
          </a>
        </div>
      </li>

      <li class="nav-item ripple <%= currentLink == 'promotion' || currentLink == "coupon" ? 'shadow-4-strong' : " "%> "
        data-mdb-ripple-color="light">
        <div class="admin-navlink admin-dropdown" data-mdb-toggle="collapse" data-mdb-target="#discount">
          <i class="fas fa-tags"></i>
          <span class="align-self-center">ส่วนลด</span>
          <i class="fas fa-caret-down text-end"></i>
        </div>
        <div class="collapse <%= currentLink == 'promotion' || currentLink == "coupon" ? 'show' : " "%>" id="discount">
          <a class="admin-navlink <%= currentLink == 'promotion' ? 'admin-nav-active' : " "%>" href="/admin/promotion">
            <span class="ms-5 align-self-center">โปรโมชั่น</span>
          </a>
          <a class="admin-navlink <%= currentLink == 'coupon' ? 'admin-nav-active' : " "%>" href="/admin/coupon">
            <span class="ms-5 align-self-center">คูปอง</span>
          </a>
        </div>
      </li>



      <li class="nav-item ripple <%= currentLink == 'shipment' || currentLink == "payment_method" ? 'shadow-4-strong' : " "%> "
        data-mdb-ripple-color="light">
        <div class="admin-navlink admin-dropdown" id="sale-btn" data-mdb-toggle="collapse" data-mdb-target="#setting">
          <i class="fas fa-gears"></i>
          <span class="align-self-center">ตั้งค่าร้านค้า</span>
          <i class="fas fa-caret-down text-end"></i>
        </div>
        <div class="collapse <%= currentLink == 'shipment' || currentLink == "payment_method" ? 'show' : " "%>" id="setting">
          <a class="admin-navlink <%= currentLink == 'shipment' ? 'admin-nav-active' : " "%>" href="/admin/shipment">
            <span class="ms-5 align-self-center">ค่าจัดส่ง</span>
          </a>
          <a class="admin-navlink <%= currentLink == 'payment_method' ? 'admin-nav-active' : " "%>"
            href="/admin/payment_method">
            <span class="ms-5 align-self-center">การชำระเงิน</span>
          </a>
        </div>
      </li>

      <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="<%= currentLink == "chat" ? 'admin-navlink admin-nav-active' : 'admin-navlink' %>" aria-current="page"
          href="/admin/chat/*">
          <i class="fa-solid fa-comment"></i>
          <span class="align-self-center">แชท</span>
        </a>
      </li>
      <!-- <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="admin-navlink" href="#">
          <i class="fas fa-ban"></i>
          <p>คำขอยกเลิกรายการ</p>
        </a>
      </li> -->
      <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="<%= currentLink == "member" ? 'admin-navlink admin-nav-active' : 'admin-navlink' %>"
          href="/admin/member">
          <i class="fas fa-user-friends"></i>
          <span class="align-self-center">สมาชิก</span>
        </a>
      </li>
      <li class="nav-item ripple" data-mdb-ripple-color="light">
        <a class="admin-navlink" href="#">
          <i class="fas fa-sign-out-alt"></i>
          <span class="align-self-center">ออกจากระบบ</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<script>
  $(function () {

    $('.admin-dropdown').each(function () {
      $(this).click(function (event) {
        event.preventDefault();
        $(this).find('.fa-caret-down').toggleClass("rotate");
      })
    })

  });

  $("#mini-nav-btn").click(function () {
    $(".nav-admin").toggleClass("mini-nav");
    $(".nav-item p").toggleClass("d-none");

    if ($(".nav-admin").hasClass("mini-nav")) {
      // If the "mini-nav" class is present, set the margin-left to 0.
      $('.box-admin').css({
        'margin-left': '80px'
      });
    } else {
      // If the "mini-nav" class is not present, set the margin-left to your desired value.
      $('.box-admin').css({
        'margin-left': '300px'
      });
    }
  });

  // $("#mini-nav-btn").toggle(function () {
  //   $('.box-admin').css({'margin-left':'0'});
  // });
</script>