<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="รูปแบบ" hidden>
    <legend>กระดาษ</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="papertype" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.option_type === 'papertype'){ %>
                <option value="<%= option.option_id %>" data-price="<%= option.price_per_unit %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="รูปแบบ" hidden>
    <legend>สีกระดาษ</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="color" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.option_type === 'color'){ %>
                <option value="<%= option.option_id %>" data-price="<%= option.price_per_unit %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="รูปแบบ" hidden>
    <legend>แนวฉีก</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="layer" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.option_type === 'tear'){ %>
                <option value="<%= option.option_id %>" data-price="<%= option.price_per_unit %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>


