<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="รูปแบบ" hidden>
    <legend>ประเภทกระดาษ</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="papertype" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.parcel_type === 'papertype'){ %>
                <option value="<%= option.option_name %>" data-price="<%= option.option_perPrice %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="รูปแบบ" hidden>
    <legend>สี</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="color" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.parcel_type === 'color'){ %>
                <option value="<%= option.option_name %>" data-price="<%= option.option_perPrice %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="รูปแบบ" hidden>
    <legend>จำนวนชั้น</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="layer" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.parcel_type === 'layer'){ %>
                <option value="<%= option.option_name %>" data-price="<%= option.option_perPrice %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="รูปแบบ" hidden>
    <legend>รันเลข</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="number" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.parcel_type === 'number'){ %>
                <option value="<%= option.option_name %>" data-price="<%= option.option_perPrice %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

