
<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="ประเภทกระดาษ" hidden>
    <legend>ประเภทกระดาษ</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="papertype" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.option_type === 'papertype'){ %>
                <option value="<%= option.option_id %>" data-price="<%= option.price_per_unit %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>
<!-- 

<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="การปั้ม" hidden>
    <legend>การปั้ม</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="pumping" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.option_type === 'pumping'){ %>
                <option value="<%= option.option_id %>" data-price="<%= option.price_per_unit %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<div class="mb-5" id="<%= count++ %>">
    <input type="text" name="spec" value="การไดคัท" hidden>
    <legend>การไดคัท</legend>
    <hr>
    <div class="form-check ps-0">
        <div class="option-select">
            <div class="border">
                <img class="selectedimg" id="selectedimg<%= count %>" src="" alt="" style="width: 80px; height: 80px;">
            </div>
            <select name="option[]" id="die-cut" class="form-select radio-choice" data-img-id="<%= count %>">
                <% options.forEach((option) => { %>
                <% if(option.option_type === 'die-cut'){ %>
                <option value="<%= option.option_id %>" data-price="<%= option.price_per_unit %>"
                    data-img="<%= option.option_img %>">
                    <%= option.option_name %>
                </option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>
 -->

<!-- <div class="form-check">
        <input class="form-check-input" value="1" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
            1 แผ่น
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" value="10" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
            5 แผ่น
        </label>
    </div> -->
<!-- <div class="form-outline mb-2">
        <input type="text" id="widthSize" class="form-control" name="widthSize" required />
        <label class="form-label" for="widthSize">จำนวน</label>
    </div> -->
</div>
