<%- include('../partials/header') %>

<body style="background-color: #FCFCFC;">
    <div class="container-lg mt-5">
        <h3>ติดต่อเรา</h3>
        <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= currentMenu %></li>
            </ol>
        </div>

        <div class="mt-3">
            <div class="my-5 row justify-content-between">
                <div class="col-md address pe-5">
                    <p class="fa fa-address-book"></p> 21 แขวงบางบอน เขตบางบอน กรุงเทพมหานคร 10150
                    <div class="contact">
                        <p class="fa fa-phone"></p> 083-719-9973 <br>
                        <p class="fa-brands fa-line"></p> 083-719-9973 <br>
                        <p class="fa fa-envelope"></p> clipartpress@gmail.com
                    </div>
                </div>
                <div class="col-md map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242.28832618288126!2d100.4421949485219!3d13.6812671742651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a2ad7e230cef%3A0xacaba303c903885f!2zMjEg4LiL4Lit4LiiIOC5gOC4reC4geC4iuC4seC4oiA0NyDguJrguLLguIfguJrguK3guJnguYDguKvguJnguLfguK0g4LmA4LiC4LiV4Lia4Liy4LiH4Lia4Lit4LiZIOC4geC4o-C4uOC4h-C5gOC4l-C4nuC4oeC4q-C4suC4meC4hOC4oyAxMDE1MA!5e0!3m2!1sth!2sth!4v1683968009188!5m2!1sth!2sth"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>

</body>
<%- include('../partials/head') %>
<%- include('../partials/footer') %>
<%- include('../partials/chat') %>
