<%- include('../partials/admin-nav') %>

<body>
    <div class="box-admin">
        <h4>แก้ไขสินค้า</h4>
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success">
            <%- item %>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger">
            <%- item %>
        </div>
        <% }); %>
        <% } %>
        <div class="mb-5"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </div>
        <form action="/updateProduct" method="post" enctype="multipart/form-data">
            <input type="text" value="<%= product.product_id %>" name="product_id" style="display: none;">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row row-cols-lg-auto mb-4">
                <div class="col align-self-end">
                    <div class="form-outline">
                        <input type="text" id="product-name" class="form-control" name="product_name"
                            value="<%= product.productName %>" />
                        <label class="form-label" for="form6Example1">ชื่อสินค้า</label>
                    </div>
                </div>

                <div class="col align-self-end">
                    <label class="form-label" for="inlineFormSelectPref">ประเภท</label> <br>
                    <select class="form-select" style="height: 35px;" name="categories">
                        <% if(types.length > 0) {%>
                        <% types.forEach((type) => { %>
                        <option value="<%= type.categories_id %>"
                            <% if (product.categories_id === type.categories_id) { %>selected<% } %>>
                            <%= type.categories_name %></option>
                        <% }); %>
                        <% } %>
                    </select>
                </div>

                <div class="col align-self-end">
                    <label class="form-label" for="inlineFormSelectPref">สถานะ</label> <br>
                    <select class="form-select" style="height: 35px;" name="status">
                        <option value="1" <% if(product.status === 1){ %> selected <%} %>>เปิดรับทำ</option>
                        <option value="0" <% if(product.status === 0){ %> selected <%} %>>งดรับทำ</option>
                    </select>
                </div>

                <div class="col">
                    <label class="form-label" for="customFile">เลือกรูปภาพสินค้า</label>
                    <input type="file" class="form-control" name="imgproduct" id="imgproduct"
                        accept="image/png, image/jpeg" />
                </div>
            </div>

            <div class="row row-cols-lg-auto mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="discount" class="form-control" name="discount"
                            value="<%= product.discount %>" />
                        <label class="form-label" for="form6Example1">ส่วนลด(%)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="price_per_unit" class="form-control" name="price_per_unit"
                            value="<%= product.price_unit_per %>" />
                        <label class="form-label" for="price_per_unit">ราคาต่อหน่วย</label>
                    </div>
                </div>
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4">
                <textarea class="form-control" id="description" rows="4"
                    name="product_description"><%= product.description %></textarea>
                <label class="form-label" for="description">รายละเอียดสินค้า</label>
            </div>

            <div class="mb-4 border-bottom">
                <h4>กำหนดสเปคสินค้า</h4>
            </div>

            <% for(var i = 0; i < specs.length; i++) { %>
            <div class="card mb-4" id="spec">
                <div class="card-body">
                    <input type="text" value="<%= specs[i].spec_id %>" name="spec_id" style="display: none;">
                    <div class="d-flex justify-content-between border-bottom mb-3">
                        <div class="form-outline mb-3" style="width: 200px;">
                            <input type="text" name="spec_name[<%= specs[i].spec_id %>][<%= product.product_id %>]"
                                class="spec-name form-control" value="<%= specs[i].spec_name %>" required>
                            <label class="form-label">ชื่อสเปค</label>
                            <% console.log(specs[i].spec_id) %>
                        </div>
                    </div>
                    <div class="sub-options mb-4">
                        <div class="sub-option-row">
                            <% for(var j = 0; j < specs[i].options.length; j++) { %>
                            <% console.log(specs[i].options[j].option_id) %>
                            <div class="row row-cols-lg-auto mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" value="<%= specs[i].options[j].option_id %>" name="option_id"
                                            style="display: none;">
                                        <input type="text"
                                            name="sub_options[<%= specs[i].spec_id %>][<%= specs[i].options[j].option_id %>]"
                                            class="sub-option-name form-control"
                                            value="<%= specs[i].options[j].option_name %>" required>
                                        <label class="form-label">ชื่อตัวเลือก</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="number"
                                            name="sub_option_prices[<%= specs[i].spec_id %>][<%= specs[i].options[j].option_id %>]"
                                            class="sub-option-price form-control"
                                            value="<%= specs[i].options[j].price_per_unit %>" required>
                                        <label class="form-label">ราคาต่อหน่วย</label>
                                    </div>
                                </div>
                            </div>
                            <% }; %>
                            <button type="button" class="btn btn-secondary" id="add-sub-btn">เพิ่มตัวเลือก</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <div id="newRow"></div>
            <% if(specs.length > 0) { %>
            <button type="button" id="add-spec" class="btn btn-secondary w-100"
                data-specid="<%= specs[0].spec_id %>">เพิ่มสเปค</button>

            <% } %>
            <button type="submit" class="btn btn-primary btn-block mt-5 float-end" style="width: 150px;">ยืนยัน</button>
        </form>
    </div>


    <script type="text/javascript">
        var specCount = 0;
        var spec_id = $(this).data('specid');
        $('#add-spec').on('click', function () {
            spec_id++;
            console.log(spec_id);
            var newSpecCard = `
    <div class="card mb-4 newcard" id="spec${spec_id}">
        <div class="card-body">
        <div class="d-flex justify-content-between border-bottom mb-3">
          <div class="form-outline mb-3" style="width: 200px;">
            <input type="text" name="spec_name[${spec_id}][]" class="spec-name form-control" required>
            <label class="form-label">ชื่อสเปค</label>
          </div>
          <button type="button" class="btn btn-danger remove-spec">ลบ</button>
        </div>
        <div class="sub-options mb-4">
          <div class="sub-option-row">
            <div class="row row-cols-lg-auto mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" name="sub_options[${spec_id}][]" class="sub-option-name form-control" required>
                  <label class="form-label">ชื่อตัวเลือก</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="number" name="sub_option_prices[${spec_id}][]" class="sub-option-price form-control" required>
                  <label class="form-label">ราคาต่อหน่วย</label>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" id="add-sub-btn">เพิ่มตัวเลือก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  `;

            $('#newRow').append(newSpecCard);
        });

        // ลบแถวหลัก
        $('#newRow').on('click', '.remove-spec', function () {
            $(this).closest(`.newcard`).remove();
        });

        // เพิ่มแถวย่อย
        $(document).on('click', '#add-sub-btn', function () {
            var specId = $(this).closest('.card').attr('id');
            var subOptionCount = $('#' + specId + ' .sub-option-row').length;
            var newSubOption = `
    <div class="sub-option-row">
      <div class="row row-cols-lg-auto mb-4">
        <div class="col">
          <div class="form-outline">
            <input type="text" name="sub_options[${subOptionCount}][]" class="sub-option-name form-control" required>
            <label class="form-label">ชื่อตัวเลือก</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="number" name="sub_option_prices[${subOptionCount}][]" class="sub-option-price form-control" required>
            <label class="form-label">ราคาต่อหน่วย</label>
          </div>
        </div>
        <button type="button" class="btn btn-danger remove-sub-option">ลบ</button>
      </div>
    </div>
  `;
            $('#' + specId + ' .sub-options').append(newSubOption);

            // ลบแถวย่อย
            $('.sub-options').on('click', '.remove-sub-option', function () {
                $(this).closest(`.sub-option-row`).remove();
            });
        });
    </script>
</body>