<%- include('../partials/header') %>

<body class="h-100">
    <div class="container-lg mt-5">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="col-md-5 left-box-product">
                <div class="card productPic">
                    <div class="card-body p-0">
                        <span class="product_name"><%= product.productName %></span>
                        <div class="product_img">
                            <img src="<%= product.picture %>" alt="" class="imageFitBox" draggable="false">
                        </div>
                    </div>
                </div>
                <% if (promotions.some(promo => promo.product_id == product.product_id)) { %>
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">โปรโมชั่น</h3>
                    </div>
                    <div class="card-body">
                        <% promotions.forEach((promo) => { %>
                        <div>
                            <% let type; %>
                            <% let condition; %>
                            <% if (promo.promo_type === 'discount') { %>
                            <% type = `ส่วนลด ${promo.type_value} % ` %>
                            <% } else if (promo.promo_type === 'giveaway') { %>
                            <% type = `แถม ${promo.type_value} ชิ้น ` %>
                            <% }  %>

                            <% if (promo.promo_condition === 'qty') { %>
                            <% condition = `เมื่อจำนวนสินค้าถึง ${promo.min_reach} ชิ้น` %>
                            <% } else if (promo.promo_condition === 'value'){ %>
                            <% condition = `เมื่อยอดสั่งซื้อถึง ${promo.min_reach} บาท` %>
                            <% }  %>
                            <i class="bi bi-tag fs-5 d-inline"></i>
                            <span><%= type + condition %></span>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <% } %>

                <div class="card select-conclusion">
                    <div class="card-header">
                        <h3 class="mb-0">สรุปสิ่งที่เลือก</h3>
                    </div>
                    <div class="card-body">
                        <% let i = 1; %>
                        <% const sticker = ['กระดาษ', 'การไดคัท'] %>
                        <% const bill = ['กระดาษ', 'สีกระดาษ', 'แนวฉีก'] %>
                        <% const envelope = ['กระดาษ', 'ด้านพิมพ์'] %>
                        <div class="d-flex justify-content-between fs-5">
                            <p>ขนาดของชิ้นงาน</p>
                            <p class="select-option" id="select-option-<%= i++ %>">-</p>
                        </div>
                        <% if (product.categories == 'sticker') { %>
                        <% sticker.forEach((item) => { %>
                        <div class="d-flex justify-content-between fs-5">
                            <p><%= item %></p>
                            <p class="select-option" id="select-option-<%= i++ %>">-</p>
                        </div>
                        <% }) %>
                        <% } else if (product.categories == 'bill') { %>
                        <% bill.forEach((item) => { %>
                        <div class="d-flex justify-content-between fs-5">
                            <p><%= item %></p>
                            <p class="select-option" id="select-option-<%= i++ %>">-</p>
                        </div>
                        <% }) %>
                        <% } else if (product.categories == 'letter') { %>
                        <% envelope.forEach((item) => { %>
                        <div class="d-flex justify-content-between fs-5">
                            <p><%= item %></p>
                            <p class="select-option" id="select-option-<%= i++ %>">-</p>
                        </div>
                        <% }) %>
                        <% } %>
                        <div class="d-flex justify-content-between fs-5">
                            <p>จำนวน</p>
                            <p class="select-option" id="select-option-qty">-</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col card right-box-product p-3 mt-3">
                <form action="/updateCart/<%= cart_detail[0].cart_detail_id %>" method="post"
                    enctype="multipart/form-data">
                    <div class="w-75 m-auto">
                        <div class="spec-picking">
                            <input type="text" name="productid" value="<%= product.product_id %>" hidden>
                            <% let count = 1; %>
                            <div class="mb-5" id="<%= count++ %>">
                                <!-- <input type="text" name="size" value="ขนาดของชิ้นงาน" hidden> -->
                                <legend>ขนาดของชิ้นงาน
                                    <% if(product.categories === 'sticker'){ %>
                                    <i class="fa-solid fa-circle-question"></i>
                                    <% } %>
                                    <div class="des-question">
                                        <p>ขนาดของตัวสติ๊กเกอร์ที่จะถูกพิมพ์ลงบนแผ่น A3</p>
                                    </div>
                                </legend>
                                <hr>
                                <select class="form-select" id="size" name="size">
                                    <% sizeTiers.forEach((size) => { %>
                                    <option value="<%= size.size_unit %>" data-id="<%= size.tierSize_id %>">
                                        <%= size.size_unit %></option>
                                    <% }) %>>
                                </select>

                                <!-- <% if (product.categories != 'card') { %>
                                <button type="button" id="customSizeBtn" class="btn btn-primary w-100 my-2 fs-6"
                                    data-mdb-toggle="modal"
                                    data-mdb-target="#customSizeModal">กำหนดขนาดชิ้นงานเอง</button>
                                <% } %> -->
                                <div id="countSticker1" style="display: none;">
                                    <p style="font-size: 18px;">จำนวนที่จะได้รับสติ๊กเกอร์บนกระดาษ A3+ คือ <span
                                            id="per-sticker"></span> ดวงต่อแผ่น</p>
                                </div>

                                <!-- <div class="form-check ps-0">
                                    <div class="option-select">
                                        <select name="option" id="option" class="radio-choice">
                                            <option value="">3 x 3</option>
                                            <option value="">4 x 4</option>#
                                            <option value="">5 x 5</option>
                                            <option value="">5 x 5</option>
                                        </select>
                                    </div>
                                </div> -->

                            </div>

                            <div class="modal fade slidedown" id="customSizeModal" tabindex="-1"
                                aria-labelledby="customSizeModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">กำหนดขนาดชิ้นงาน</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-outline mb-2">
                                                <input type="text" id="widthSize" class="form-control" />
                                                <label class="form-label" for="widthSize">ความกว้าง</label>
                                            </div>
                                            <div class="form-outline mb-2">
                                                <input type="text" id="heightSize" class="form-control" />
                                                <label class="form-label" for="heightSize">ความสูง</label>
                                            </div>
                                            <select class="form-select" style="height: 35px;" id="unitSize"
                                                name="unitSize">
                                                <option value="inch">นิ้ว (Inch)</option>
                                                <option value="mm">มิลลิเมตร (MM)</option>
                                                <option value="cm">เซ็นติเมตร (CM)</option>
                                            </select>
                                            <input type="hidden" id="id" name="option_id" value="" />
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary "
                                                    data-mdb-dismiss="modal">ยกเลิก</button>
                                                <button type="button" class="btn btn-primary" onclick="addSize()"
                                                    data-mdb-dismiss="modal">ยืนยัน</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% if(product.categories === 'sticker') { %>
                            <%- include('./product_select/sticker', { count: count, options: options }) %>
                            <% } else if(product.categories === 'bill') { %>
                            <%- include('./product_select/bill', { count: count, options: options }) %>
                            <% } else if(product.categories === 'letter') { %>
                            <%- include('./product_select/letter', { count: count, options: options }) %>
                            <% } %>

                            <div class="mb-5" id="qty">
                                <legend>จำนวน</legend>
                                <hr>
                                <select name="qt" id="qt-select" class="form-select">
                                    <% let unit = '' %>
                                    <% if(product.categories === 'sticker') { %>
                                    <% unit = 'แผ่น' %>
                                    <% } else if(product.categories === 'bill') { %>
                                    <% unit = 'เล่ม' %>
                                    <% } else if(product.categories === 'envelope') { %>
                                    <% unit = 'ซอง' %>
                                    <% } %>

                                    <% qtyTiers.forEach((qty) => { %>
                                    <option value="<%= qty.quantity %>"><%= qty.quantity %> <%= unit %></option>
                                    <% }) %>
                                </select>
                                <div id="countSticker2" style="display: none;">
                                    <p style="font-size: 18px;">จำนวนดวงสติ๊กเกอร์ที่จะได้ทั้งหมดคือ <span
                                            id="all-sticker"></span> ดวง</p>
                                </div>

                                <button type="button" class="btn btn-primary w-100 mt-2 fs-6" data-mdb-toggle="modal"
                                    data-mdb-target="#customQtModal">กำหนดจำนวนเอง</button>
                            </div>

                            <div class="modal fade slidedown needs-validation" id="customQtModal" tabindex="-1"
                                aria-labelledby="customSizeModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">กำหนดจำนวน</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-outline mb-2">
                                                <input type="number" id="custom-qt" class="form-control" min="1"
                                                    max="50000" />
                                                <label class="form-label" for="custom-qt">จำนวน</label>
                                            </div>
                                            <div class="invalid-feedback">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary "
                                                    data-mdb-dismiss="modal">ยกเลิก</button>
                                                <button type="button" class="btn btn-primary" onclick="addQt()"
                                                    data-mdb-dismiss="modal">ยืนยัน</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-4">
                                <h4>ไฟล์อาร์ตเวิร์ค</h4>
                                <hr>
                                <input type="file" class="btn d-block" id="customFile" name="designfile"
                                    accept="application/pdf" />
                                <embed src="<%= cart_detail[0].design_file %>" type="application/pdf" frameBorder="2"
                                    scrolling="auto" height="100%" width="100%"></embed>
                            </div>
                            <div class="float-end mt-5">
                                <span>ยอดรวม: </span>
                                <span id="sum-price"></span>
                                <span id="new-price"></span>
                                <input type="number" name="total_price" id="total-price"
                                    value="<%= cart_detail[0].price %>" hidden readonly>
                                <!-- <span id="total-price">฿0</span> -->
                                <% if(!login){ %>
                                <p>กรุณาเข้าสู่ระบบก่อนที่จะเพิ่มสินค้าลงตระกร้า</p>
                                <% }else if(login === true) { %>
                                <a href="">
                                    <button type="submit"
                                        class="btn btn-primary d-block mt-3 w-100 fs-6">ยืนยันการแก้ไขรายการ</button>
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="optionImgModal" tabindex="-1" aria-labelledby="optionImgModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
    const sizeSelect = document.getElementById('size')
    const selectQt = document.getElementById('qt-select');
    const allsum = document.getElementById('all-sticker')
    const perStickerElement = document.getElementById('per-sticker').textContent;

    function updatePerSticker() {
        const selected = sizeSelect.value;
        const number = document.getElementById('per-sticker');
        const [width, height] = selected.split('x');
        let x = Math.floor((32.9 / width)) * Math.floor((48.3 / height));
        number.textContent = Math.floor(x);
    }

    function updateAllSticker() {
        const selected = sizeSelect.value;
        const [width, height] = selected.split('x');
        let x = Math.floor((32.9 / width)) * Math.floor((48.3 / height));

        // const numSticker = parseInt(perStickerElement);
        const selectedQt = selectQt.value;
        let y = selectedQt * x;
        allsum.textContent = y;
    }



    function addSize() {
        const width = document.getElementById('widthSize').value;
        const height = document.getElementById('heightSize').value;
        const unit = document.getElementById('unitSize').value;

        let value;
        let text;

        if (unit === 'inch') {
            const calWidth = width * 2.54;
            const calheight = height * 2.54;
            value = `${calWidth}x${calheight}`;
            text = `${width} x ${height} inch (${calWidth} x ${calheight} cm)`;
        } else if (unit === 'mm') {
            const calWidth = width * 0.1;
            const calheight = height * 0.1;
            value = `${calWidth}x${calheight}`;
            text = `${width} x ${height} inch (${calWidth} x ${calheight} cm)`;
        } else if (unit === 'cm') {
            value = `${width}x${height}`;
            text = `${width} x ${height} cm`;
        }

        const option = document.createElement('option');
        option.value = value;
        option.textContent = text;
        option.selected = true;
        sizeSelect.appendChild(option);
        sizeSelect.addEventListener('change', updatePerSticker);
        updatePerSticker()

    }

    function addQt() {
        // const forms = document.querySelectorAll('.needs-validation')
        // Array.from(forms).forEach(form => {
        //     form.addEventListener('click', event => {
        //         if (!form.checkValidity()) {
        //             event.preventDefault()
        //             event.stopPropagation()
        //         }

        //         form.classList.add('was-validated')
        //     }, false)
        // })
        const qt = document.getElementById('custom-qt').value;
        const option = document.createElement('option');
        console.log(qt);
        option.value = qt;
        option.textContent = qt + ' แผ่น (กำหนดเอง)';
        option.selected = true;
        selectQt.appendChild(option);

        calculatePrice();
    }

    sizeSelect.addEventListener('change', updatePerSticker);
    updatePerSticker()

    sizeSelect.addEventListener('change', updateAllSticker);
    selectQt.addEventListener('change', updateAllSticker);
    updateAllSticker()

    const promotions = JSON.parse('<%- JSON.stringify(promotions) %>')
    const product = JSON.parse('<%- JSON.stringify(product) %>')

    function calculatePrice() {
        let optionSum = 0;
        $('select.radio-choice').each(function () {
            const selectedOption = $(this).find('option:selected');
            const dataPrice = selectedOption.data('price');
            if (!isNaN(dataPrice)) {
                optionSum += parseFloat(dataPrice);
            }
        });

        const size = $('#size').find('option:selected').val(); // ขนาด
        const qtTier = $('#qt-select').find('option:selected').val(); // จำนวน
        // const [width, height] = sizeTier.split('x');


        let widthprice;
        let heightprice;
        let sizePrice
        let qtprice;

        const sizeTiers = JSON.parse('<%- JSON.stringify(sizeTiers) %>');
        const qtyTiers = JSON.parse('<%- JSON.stringify(qtyTiers) %>');


        for (let i = 0; i < qtyTiers.length && qtTier >= qtyTiers[i].quantity; i++) {
            qtprice = qtyTiers[i].qty_price;
        };
        if (typeof qtprice === 'undefined') {
            qtprice = qtyTiers[0].qty_price;
        }

        sizePrice = sizeTiers[0].size_price; // Set a default price

        for (let s = 0; s < sizeTiers.length && size == qtyTiers[s].size_unit; s++) {
            sizePrice = sizeTiers[s].size_price;
        }
        // for (let h = 0; h < sizeTiers.length && heightprice >= sizeTiers[h].height; h++) {
        //     const element = array[s];

        // }

        // if (isNaN(quantity) || isNaN(quantityPerUnit) || isNaN(optionPrice)) {
        //     $('#total-price').val('Invalid selection');
        //     return;
        // }

        console.log(`${size}`);
        console.log(`ราคาปริมาณต่อหน่วย : ${qtprice}`);
        // const totalSize = widthprice + heightprice;
        const perUnitSum = qtprice + sizePrice;
        const totalPricePerUnit = optionSum + perUnitSum
        console.log(`${optionSum}, ${sizePrice}, ${qtprice}`);
        console.log(`${totalPricePerUnit} * ${qtTier}`);
        const sumPrice = totalPricePerUnit * qtTier;
        console.log(sumPrice);

        $('#sum-price').text(THmoney.format(sumPrice))
        $('#total-price').val(sumPrice);

        let discount
        if (promotions.find(promo => promo.product_id == product.product_id)) {
            promotions.forEach((promo) => {
                let min_reach = promo.min_reach;
                if (promo.promo_type == 'discount' && promo.promo_condition == 'value') {
                    if (sumPrice >= min_reach) {
                        discount = sumPrice - (sumPrice * promo.type_value / 100);
                        $('#new-price').text(THmoney.format(discount))
                        $('#sum-price').empty().replaceWith(
                            `<s class="fw-bold me-2" id="sum-price">${THmoney.format(sumPrice)}</s>`);
                        let warning = `<div class='alert-success p-3'>
                             ได้รัับส่วนลด ${promo.type_value} % แล้ว
                                 </div>`
                        $('#promo-check').empty().append(warning)
                    } else {
                        $('#new-price').empty()
                        $('#sum-price').empty().replaceWith(
                            `<b class="fw-bold me-2" id="sum-price">${THmoney.format(sumPrice)}</b>`);
                        let warning = `<div class='alert-warning p-3'>
                                ซื้อเพิ่มอีก ${min_reach - sumPrice} บาท เพื่อรับส่วนลด ${promo.type_value} %
                                 </div>`
                        $('#promo-check').empty().append(warning)
                    }
                }


                if (promo.promo_type == 'discount' && promo.promo_condition == 'qty') {
                    const optionValue = parseInt(qtTier, 10);
                    if (optionValue < min_reach) {
                        let warning = `<div class='alert-warning p-3'>
                                ซื้อเพิ่มอีก ${min_reach - optionValue} ชิ้น เพื่อรับส่วนลด ${promo.type_value} %
                                 </div>`
                        $('#promo-check').empty().append(warning)
                        $('#new-price').empty()
                        $('#sum-price').empty().replaceWith(
                            `<b class="fw-bold me-2" id="sum-price">${THmoney.format(sumPrice)}</b>`
                        );
                    } else {
                        let discount = sumPrice - (sumPrice * promo.type_value / 100);
                        let warning = `<div class='alert-success p-3'>
                                คุณได้รับส่วนลด ${promo.type_value} % แล้ว
                                 </div>`
                        $('#promo-check').empty().append(warning)
                        $('#new-price').text(THmoney.format(discount))
                        $('#sum-price').empty().replaceWith(
                            `<s class="fw-bold me-2" id="sum-price">${THmoney.format(sumPrice)}</s>`
                        );
                    }
                }

                if (promo.promo_type == 'giveaway' && promo.promo_condition == 'value') {
                    if (sumPrice >= min_reach) {
                        let warning = `<div class='alert-success p-3'>
                        ได้รับเพิ่ม ${promo.type_value} ชิ้น แล้ว
                                 </div>`
                        $('#promo-check').empty().append(warning)
                        $('#qt-select option').each(function () {
                            const optionValue = parseInt($(this).val(), 10);
                            $(this).text(optionValue + ' <%= unit %>' + ` + ${promo.type_value}`);
                        });
                    } else {
                        let warning = `<div class='alert-warning p-3'>
                                ซื้อเพิ่มอีก ${min_reach - qtTier} บาท เพื่อรับเพิ่มอีก ${promo.type_value} ชิ้น
                                 </div>`
                        $('#promo-check').empty().append(warning)
                        $('#qt-select option').each(function () {
                            const optionValue = parseInt($(this).val(), 10);
                            $(this).text($(this).val() + ' <%= unit %>');
                        });
                    }
                }
            });
        }
    }



    $(document).ready(function () {
        const productCate = `<%- product.categories  %>`
        // if (productCate === 'sticker') {
        //     $('#countSticker1, #countSticker2').show()
        // }
        $('select.form-select').on('change', calculatePrice);
        calculatePrice();
    });


    $(document).ready(() => {
        $('.form-select').change(function () {
            const selectedOption = $(this).find('option:selected');
            const selectedText = selectedOption.text();
            const index = $(this).closest('.mb-5').attr('id');
            // console.log('#select-option-'+index+selectedText);
            $('#select-option-' + index).text(selectedText);
        });


        const optionType = ['papertype', 'laminating', 'pumping', 'die-cut', 'printside', 'folding', 'color',
            'layer', 'number'
        ];
        const carts = JSON.parse('<%- JSON.stringify(cart_detail) %>');
        carts.forEach((item) => {
            $(`#size option[value="${item.size}"]`).prop('selected', true);
            $(`#qt-select option[value="${item.quantity}"]`).prop('selected', true);

            item.options.forEach((option) => {
                optionType.forEach((type) => {
                    if ($(`#${type}`).length) {
                        $(`#${type} option[value="${option.option_id}"]`).prop(
                            'selected', true);
                    }
                });
            })
        });
        $(".form-select").trigger("change");
    });

    $(document).ready(function () {
        if (promotions.some(promo => promo.product_id == product.product_id)) {
            promotions.forEach((promo) => {
                let min_reach;
                if (promo.promo_type == 'giveaway' && promo.promo_condition == 'qty') {
                    let min_reach = promo.min_reach;
                    console.log(min_reach);
                    $('#qt-select option').each(function () {
                        const optionValue = parseInt($(this).val(), 10);
                        if (optionValue >= min_reach) {
                            $(this).text($(this).text() + ` + ${promo.type_value}`);
                        }
                    });
                }
            });
        }
    });

    $(document).ready(() => {
        function updateFirstOptionImage() {
            $('.form-select').each(function () {
                const firstOption = $(this).find('option:selected');
                const optionImg = firstOption.data('img'); // Corrected access to data attribute
                const imgId = $(this).data('img-id'); // Corrected access to data attribute
                const imgElement = $('#selectedimg' + imgId);
                if (optionImg) {
                    imgElement.attr('src', optionImg);
                } else {
                    imgElement.attr('src', '/assets/img/crossed-image-icon.jpg');
                }
            });
        }

        // Call the function on page load to set the images for the first options
        updateFirstOptionImage();

        $('.radio-choice').on('change', function () {
            // Get the selected option
            const selectedOption = $(this).find(':selected');
            const optionName = selectedOption.val();
            const optionImg = selectedOption.data('img');
            const imgId = $(this).data('img-id');
            const imgElement = $('#selectedimg' + imgId);

            console.log(optionImg);
            if (optionImg) {
                imgElement.attr('src', optionImg);
            } else {
                imgElement.attr('src', '/assets/img/crossed-image-icon.jpg');
            }
        });
    });
</script>

<%- include('../partials/footer') %>
<%- include('../partials/chat') %>