<%- include('../partials/admin-nav') %>

<body>
    <div class="box-admin">
        <p>สินค้า</p>
        <div class="mb-5"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </div>
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success">
            <%- item %>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger">
            <%- item %>
        </div>
        <% }); %>
        <% } %>
        <!-- Button trigger modal -->
        <a href="/addproduct">
            <button type="button" class="btn btn-secondary mb-3">
                เพิ่มสินค้า
            </button>
        </a>

        <div class="card" style="width: 100%; margin: auto;">
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>No.</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อ</th>
                            <th>ประเภท</th>
                            <th>สถานะ</th>
                            <th>ส่วนลด(%)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                        <% if(products.length > 0) {%>
                        <% products.forEach((product) => { %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= product.product_id %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <img src="<%= product.picture %>" alt="">
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= product.productName %></p>
                            </td>
                            <td><%= product.categories_name %></td>
                            <td><% if(product.status = 1) { %>
                                เปิดรับทำ
                                <% }else if(product.status = 0){ %>
                                ปิดรับทำ
                                <% } %>
                            </td>
                            <td><%= product.discount%></td>
                            <td>

                                <a href="/product/edit/<%= product.product_id %>">
                                    <div class="btn btn-link btn-sm btn-rounded btn-edit">
                                        แก้ไข
                                    </div>
                                </a>
                                <button type="button" class="btn btn-link btn-sm btn-rounded btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-product-id="<%= product.product_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <form action="/deleteProduct" method="post">
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">ลบประเภท</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/deleteType" id="editForm" method="post">
                                            <div>
                                                <p>ต้องการลบประเภทใช่หรือไม่ ?</p>
                                            </div>
                                            <input type="hidden" id="id" name="product_id" value="" />
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary "
                                                    data-mdb-dismiss="modal">ยกเลิก</button>
                                                <button type="submit" class="btn btn-danger">ยืนยัน</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
                <% if(products.length <= 0) { %>
                    <div class="text-center m-5 text-secondary">
                        <span>ยังไม่มีข้อมูลสินค้า</span>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <script>
        $(document).on("click", ".delete", function () {
            var productId = $(this).data("product-id");
            $("#id").val(productId);
        });
    </script>
</body>