<%- include('../../partials/admin-nav') %>

<body>
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>เพิ่มตัวเลือกสินค้า</h1>
            <ol class="list-unstyled d-flex ">
                <li class="breadcrumb-item"><a class="link-light" href="#">หน้าแรก</a></li>
                <li class="active text-light ms-2">/ ตัวเลือกสินค้า</li>
                <li class="active text-light ms-2">/ เพิ่มตัวเลือกสินค้า</li>
            </ol>
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>
    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success">
            <%- item %>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger">
            <%- item %>
        </div>
        <% }); %>
        <% } %>
        <form action="/addoption" method="post" enctype="multipart/form-data">
            <div class="card mb-4 spec" id="spec">
                <div class="card-body">
                    <div class="sub-options mb-4">
                        <div class="sub-option-row">
                            <div class="row row-cols-lg-auto mb-4">
                                <div class="col" style="width: 15%;">
                                    <div class="option-img ">
                                        <i class="fa-solid fa-plus"></i>
                                        <input type="file" name="option_img[]" onchange="previewImage(event, [0])"
                                            accept="image/png, image/jpeg" multiple />
                                        <img src="https://www.solidbackgrounds.com/images/950x350/950x350-white-solid-color-background.jpg"
                                            alt="" id="option_preview[0]" draggable="false" class="img_option">
                                    </div>
                                </div>
                                <div class="col" style="width: 42.5%;">
                                    <div class="form-outline mb-3">
                                        <input type="text" name="option[]" class="sub-option-name form-control"
                                            id="optionName" required>
                                        <label class="form-label" for="optionName">ชื่อตัวเลือก</label>
                                    </div>
                                    <div class="form-outline">
                                        <input type="number" name="option_price[]" class="sub-option-price form-control"
                                            required>
                                        <label class="form-label">ราคาต่อหน่วย</label>
                                    </div>
                                </div>
                                <div class="col" style="width: 42.5%;">
                                    <select class="form-select mb-3" id="parcel" aria-label="Default select example"
                                        name="option_parcel[]">
                                        <option value="papertype">ประเภทกระดาษ</option>
                                        <option value="oil">การเคลือบเงา</option>
                                        <option value="pumping">การปั้ม</option>
                                        <option value="die-cut">การไดคัท</option>
                                        <option value="folding">การพับ</option>
                                    </select>

                                    <select multiple="multiple" id="product-cb" class="option-checkbox w-100"
                                        name="product[0][]" multiple>
                                        <% if( products.length > 0 ){ %>
                                        <% products.forEach((product) => { %>
                                        <% if(product.categories === 'card'){ %>
                                        <optgroup label="นามบัตร">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'flyer'){ %>
                                        <optgroup label="ใบปลิว/แผ่นพับ">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'sticker'){ %>
                                        <optgroup label="สติ๊กเกอร์">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'bill'){ %>
                                        <optgroup label="ใบบิล">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'letter'){ %>
                                        <optgroup label="ซองจดหมาย">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% } %>
                                        <% })%>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="newRow"></div>

            <button type="button" id="add-spec" class="btn btn-secondary w-100">เพิ่มสเปค</button>
            <button type="submit" class="btn btn-primary btn-block mt-5 float-end" style="width: 150px;">ยืนยัน</button>
        </form>
    </div>


    <script>
        $('.option-checkbox').multipleSelect({
            filter: true,
            keepOpen: true,
            placeholder: 'เลือกสินค้าที่ใช้ตัวเลือกนี้',
            type: 'optgroup',
            hideOptgroupCheckboxes: true

        })

        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        function previewImage(event, index) {
            var input = event.target;
            var imgPreview = document.getElementById('option_preview[' + index + ']');
            console.log(imgPreview)
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                imgPreview.src = "";
            }
        }

        var specCount = 0;
        var img = 0
        $('#add-spec').on('click', function () {
            specCount++;
            img++
            var newSpecCard = `
            <div class="card mb-4 spec newcard" id="spec${specCount}">
                <div class="card-body">
                    <div class="sub-options mb-4">
                        <div class="sub-option-row">
                            <div class="row row-cols-lg-auto mb-4">
                                <div class="col" style="width: 15%;">
                                    <div class="option-img ">
                                        <i class="fa-solid fa-plus"></i>
                                        <input type="file" name="option_img[]" onchange="previewImage(event, [${ img }])"
                                            accept="image/png, image/jpeg" multiple />
                                        <img src="https://www.solidbackgrounds.com/images/950x350/950x350-white-solid-color-background.jpg"
                                            alt="" id="option_preview[${specCount}]" draggable="false" class="img_option">
                                    </div>
                                </div>
                                <div class="col" style="width: 42.5%;">
                                    <div class="form-outline mb-3">
                                        <input type="text" name="option[${specCount}]" class="sub-option-name form-control"
                                            id="optionName" required>
                                        <label class="form-label" for="optionName">ชื่อตัวเลือก</label>
                                    </div>
                                    <div class="form-outline">
                                        <input type="number" name="option_price[${specCount}]"
                                            class="sub-option-price form-control" required>
                                        <label class="form-label">ราคาต่อหน่วย</label>
                                    </div>
                                </div>
                                <div class="col" style="width: 42.5%;">
                                    <select class="form-select mb-3" id="parcel" aria-label="Default select example"
                                        name="option_parcel[${specCount}]">
                                        <option selected disabled>หมวดหมู่</option>
                                        <option value="foramt">ขนาดของชิ้นงาน</option>
                                        <option value="papertype">ประเภทกระดาษ</option>
                                        <option value="oil">การเคลือบเงา</option>
                                        <option value="pumping">การปั้ม</option>
                                        <option value="die-cut">การไดคัท</option>
                                        <option value="folding">การพับ</option>
                                    </select>

                                    <select multiple="multiple" id="product-cb" class="option-checkbox w-100"
                                        name="product[${specCount}][]" multiple>
                                        <% if( products.length > 0 ){ %>
                                        <% products.forEach((product) => { %>
                                        <% if(product.categories === 'card'){ %>
                                        <optgroup label="นามบัตร">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'flyer'){ %>
                                        <optgroup label="ใบปลิว/แผ่นพับ">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'sticker'){ %>
                                        <optgroup label="สติ๊กเกอร์">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'bill'){ %>
                                        <optgroup label="ใบบิล">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% }else if(product.categories === 'letter'){ %>
                                        <optgroup label="ซองจดหมาย">
                                            <option value="<%= product.product_id %>">
                                                <%= product.productName %></option>
                                        </optgroup>
                                        <% } %>
                                        <% })%>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="remove-spec btn btn-danger">ลบ</button>

                </div>
            </div>
  `;

            $('#newRow').append(newSpecCard);
            document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
            });

            $('.option-checkbox').multipleSelect('refreshOptions', {
                filter: true,
                keepOpen: true,
                placeholder: 'เลือกสินค้าที่ใช้ตัวเลือกนี้',
                type: 'optgroup',
                hideOptgroupCheckboxes: true
            });
        });

        // ลบแถวหลัก
        $('#newRow').on('click', '.remove-spec', function () {
            $(this).closest(`.newcard`).remove();
        });


        if ($("#parcel option:selected").val() == 'format') {
            $('.option-img ').hide();
        }
    </script>

</body>