<%- include('../../partials/admin-nav') %>

<style>
    .form-control {
        padding: 5.12px;
    }

    th {
        padding: 10px !important;
    }
</style>

<body style="background-color: #f8f8f8;">
    <div class="box-admin mb-5">
        <h1>เพิ่มสินค้า</h1>
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>
        <form action="/addproduct" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="card" id="product-form">
                <div class="">
                    <div class="">
                        <div class="mx-4 mt-4 border-bottom">
                            <h4>รายละเอียดสินค้า</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <div class="product-preview-upload me-4 mb-2" style="margin-top: 33px;">
                                        <div class="option-img">
                                            <div class="upload-icon">
                                                <i class="fa-regular fa-image"></i>
                                                <p>คลิกเพื่อเลือกรูปสินค้า</p>
                                            </div>
                                            <input type="file" name="imgproduct" id="imgproduct"
                                                onchange="previewImage(event, [0])" accept="image/png, image/jpeg"
                                                multiple required class="form-control" />
                                            <img src="/assets/img/white-bg.jpg" alt="" id="option_preview[0]"
                                                draggable="false" class="img_option">
                                            <div class="invalid-feedback mt-2">
                                                กรุณาอัปโหลดรูปภาพสินค้า
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <span class="mx-4"> รองรับไฟล์</span><br>
                                <span class="mx-4"> PNG, JPEG</span> -->
                                </div>
                                <div class="row w-100">
                                    <div class="col p-0">
                                        <div class="form-outline" style="margin-top: 33px;">
                                            <input type="text" id="product-name" class="form-control"
                                                name="product_name" required />
                                            <label class="form-label" for="form6Example1">ชื่อสินค้า<span
                                                    class="text-danger ms-1">*</span></label>
                                            <div class="invalid-feedback">
                                                กรุณากรอกชื่อสินค้า
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="form-label" for="inlineFormSelectPref">ประเภท <span
                                                class="text-danger ms-2">*</span></label> <br>
                                        <select class="form-select" id="categories" style="height: 35px;"
                                            name="categories" required>
                                            <option value="bill">ใบบิล</option>
                                            <option value="sticker">สติ๊กเกอร์</option>
                                            <option value="envelope">ซองจดหมาย</option>
                                        </select>
                                    </div>

                                    <div class="col ps-0">
                                        <label class="form-label" for="inlineFormSelectPref">สถานะ <span
                                                class="text-danger ms-2">*</span></label> <br>
                                        <select class="form-select" style="height: 35px;" name="status" required>
                                            <option value="1">เปิดรับทำ</option>
                                            <option value="0">งดรับทำ</option>
                                        </select>
                                    </div>

                                    <div class="w-100 ps-0 mt-2">
                                        <div class="form-outline ">
                                            <textarea class="form-control" id="description" rows="4"
                                                name="product_description" required></textarea>
                                            <label class="form-label" for="description">รายละเอียดสินค้า <span
                                                    class="text-danger ms-1">*</span></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="mx-4 mt-4 border-bottom d-flex justify-content-between">
                            <h4>ออฟชั่นสินค้า</h4>
                        </div>
                        <div class="card-body" id="option-mutiselect">
                            <div class="border p-4 rounded option-box mb-2">
                                <h5 class="d-inline">${card[index]}</h5> <span class="text-danger ms-2">*</span>
                                <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]"
                                    multiple required>
                                    <% options.forEach((option) => { %>
                                    <% if (option.parcel_type === 'pumping') { %>
                                    <option value="<%= option.option_id  %>"><%= option.option_name %></option>
                                    <% } %>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="option-form">
                        <div class="mx-4 mt-4 border-bottom">
                            <h4>ราคา</h4>
                        </div>
                        <div class="card-body">
                            <div class="m-1">
                                <div class="d-flex">
                                </div>
                                <table class="table table-bordered">
                                    <thead class="table-borderless">
                                        <tr id="headtable">
                                            <th class="col-1" colspan="2">
                                            </th>
                                            <th>
                                                <button type="button" id="addSize" class="btn px-2 btn-secondary"
                                                    data-target="PriceRow-0">
                                                    <i class="fa-solid fa-plus"></i> เพิ่มขนาด
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="qtyCol">
                                        <tr id="sizeTbRow">
                                            <th class="fs-5 text-center" colspan="2">จำนวน</th>
                                            <th>
                                                <div class="me-2">
                                                    <div class="form-outline" style="width: 80px;">
                                                        <input type="text" class="form-control" name="unit[0]"
                                                            placeholder="เช่น 1x1" required>
                                                        <label class="form-label">ขนาด<span
                                                                class="text-danger ms-2">*</span></label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr class="priceRow" id="priceRow-0">
                                            <th class="qtyCol text-center">
                                                <button type="button" id="addQty" class="btn px-3 btn-secondary"
                                                    data-target="PriceRow-0">
                                                    <i class="fa-solid fa-plus"></i> จำนวน
                                                </button>
                                            </th>
                                            <th>
                                                <div class="form-outline me-2" style="width: 85px; height: 36px;">
                                                    <input type="number" class="form-control p-1" name="qty[0][0]"
                                                        required style="height: 36px;" step="0.01" min="0">
                                                    <label class="form-label">จำนวน<span
                                                            class="text-danger ms-2">*</span></label>
                                                </div>
                                            </th>
                                            <th class="m-auto">
                                                <div class="form-outline" style="width: 80px; height: 36px;">
                                                    <input type="number" class="form-control p-1" name="qtyPrice[0][0]"
                                                        required step="0.01" min="0">
                                                    <label class="form-label">ราคา<span
                                                            class="text-danger ms-2">*</span></label>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="m-1">
                            <div>
                                <div class="mx-4 mt-4 border-bottom">
                                    <h4>ราคา</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3 mb-3 tier">
                                            <div class="rounded border p-2 mb-2 me-2"
                                                style="width: fit-content; height: 540px;">
                                                <div class="m-2">
                                                    <h5>ราคาไซต์งาน</h5>
                                                    <hr>
                                                    <div id="sizeTier">
                                                        <div class="d-flex mb-2 sizeTierRow" style="height: 36px;">
                                                            <div class="me-2">
                                                                <div class="form-outline" style="width: 85px;">
                                                                    <input type="text" class="form-control"
                                                                        name="unit[0][]" placeholder="เช่น 1x1"
                                                                        required>
                                                                    <label class="form-label">ขนาด<span
                                                                            class="text-danger ms-2">*</span></label>
                                                                </div>
                                                            </div>
                                                            <div class="ms-2">
                                                                <div class="form-outline" style="width: 85px;">
                                                                    <input type="number" class="form-control"
                                                                        name="sizePrice[0][]" required step="0.01"
                                                                        min="0">
                                                                    <label class="form-label">ราคา<span
                                                                            class="text-danger ms-2">*</span></label>
                                                                </div>
                                                            </div>
                                                            <button type="button" id="addSizeTier"
                                                                class="ms-2 btn btn-secondary" data-target="PriceRow-0">
                                                                <i class="fa-solid fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-3">
                                            <div class="rounded border p-2 mb-2 me-2"
                                                style="width: fit-content; height: 540px;">
                                                <div class="m-2">
                                                    <h5>ระดับราคาตามจำนวน</h5>
                                                    <hr>
                                                    <div id="PriceTier">
                                                        <div class="d-flex mb-2 qtyTierRow">
                                                            <div class="form-outline me-2"
                                                                style="width: 85px; height: 36px;">
                                                                <input type="number" class="form-control p-1"
                                                                    name="qty[0][]" required style="height: 36px;"
                                                                    step="0.01" min="0">
                                                                <label class="form-label">จำนวน<span
                                                                        class="text-danger ms-2">*</span></label>
                                                            </div>
                                                            <div class="form-outline"
                                                                style="width: 85px; height: 36px;">
                                                                <input type="number" class="form-control p-1"
                                                                    name="qtyPrice[0][]" required step="0.01" min="0">
                                                                <label class="form-label">ราคา<span
                                                                        class="text-danger ms-2">*</span></label>
                                                            </div>
                                                            <button type="button" id="add-price-0"
                                                                class="addPrice ms-2 btn btn-secondary"
                                                                data-target="PriceRow-0">
                                                                <i class="fa-solid fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
            <div class="w-100 fixed-bottom bg-white border-top" style="z-index: 0;">
                <div class="m-2 me-5 d-flex justify-content-end">
                    <button type="reset" class="btn btn-outline-black me-2 my-2 fs-6">รีเซ็ต</button>
                    <button type="submit" class="btn btn-primary fs-6 my-2" style="width: 150px;">บันทึก</button>
                </div>
            </div>
        </form>
    </div>

    <script src="/js/validateBs.js"></script>
    <script>
        function previewImage(event, index) {
            var input = event.target;
            var imgPreview = document.getElementById('option_preview[' + index + ']');
            console.log(imgPreview)
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                imgPreview.src = "";
            }
            $('.upload-icon').hide()
        }

        $(function () {
            $('.option-checkbox').multipleSelect({
                filter: true,
                placeholder: 'เลือกออฟชั่น',
                // type: 'optgroup',
                // hideOptgroupCheckboxes: false
            });
        })

        var sizeTierCount = 0;
        var qtyTierCount = 0;
        var img = 0

  

        $('#addSize').prop('disabled', sizeTierCount >= 7);
        $('#addQty').prop('disabled', qtyTierCount >= 9);

        // $(document).on('click', '#addSizeTier', function () {
        //     if (sizeTierCount < 6) {
        //         sizeTierCount++;
        //         var newSzieRow = `
        //     <div class="d-flex mb-2 sizeTierRow" style="height: 36px;">
        //                                             <div class="me-2">
        //                                                 <div class="form-outline" style="width: 85px;">
        //                                                     <input type="text" class="form-control" name="unit[${sizeTierCount}][]" placeholder="เช่น 1x1"
        //                                                         required>
        //                                                     <label class="form-label">ขนาด<span
        //                                                             class="text-danger ms-2">*</span></label>
        //                                                 </div>
        //                                             </div>

        //                                             <div class="ms-2">
        //                                                 <div class="form-outline" style="width: 85px;">
        //                                                     <input type="number" class="form-control" name="sizePrice[${sizeTierCount}][]"
        //                                                         required step="0.01" min="0">
        //                                                     <label class="form-label">ราคา<span
        //                                                             class="text-danger ms-2">*</span></label>
        //                                                 </div>
        //                                             </div>
        //                                             <button type="button" class="ms-2 btn btn-danger remove-sizePrice"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
        //                                         </div>
        //   `;



        //         var sizeTh = `<th>
        //                                         <div class="me-2">
        //                                             <div class="form-outline" style="width: 100px;">
        //                                                 <input type="text" class="form-control" name="unit[${sizeTierCount}][]"
        //                                                     placeholder="เช่น 1x1" required>
        //                                                 <label class="form-label">ขนาด<span
        //                                                         class="text-danger ms-2">*</span></label>
        //                                             </div>
        //                                         </div>
        //                                     </th>`


        //         $('.priceRow').each(function (index, e) {

        //         })

        //         $('#sizeTbRow').append(sizeTh);
        //         document.querySelectorAll('.form-outline').forEach((formOutline) => {
        //             new mdb.Input(formOutline).init();
        //         });
        //         $('#addSizeTier').prop('disabled', sizeTierCount >= 6);
        //     }
        // });
        $(document).ready(function () {
            // Counter for row IDs
            var rowCount = 1;

            $("#addQty").click(function () {
                var newRow = $("#priceRow-0").clone();
                qtyTierCount++
                console.log(qtyTierCount);
                newRow.attr('id', 'priceRow-' + qtyTierCount);
                newRow.find('input[name^="qty[0]"]').attr('name', 'qty[' + qtyTierCount + '][]');
                newRow.find('input[name^="qtyPrice[0]"]').attr('name', 'qtyPrice[' + qtyTierCount +
                    '][]');
                newRow.find('.qtyCol').append(
                    '<button type="button" class="btn btn-danger px-2 remove-qtyRow"><i class="fa-solid fa-trash"></i> ลบแถว</button>'
                );
                newRow.find('#addQty').remove();
                // newRow.append(
                //     '<td><button type="button" class="px-2 btn btn-danger remove-qtyRow"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button></td>'
                //     );

                $("#qtyCol").append(newRow);
                rowCount++;

                document.querySelectorAll('.form-outline').forEach((formOutline) => {
                    new mdb.Input(formOutline).init();
                });
                $('#addQty').prop('disabled', qtyTierCount >= 9);
            });

            $("#addSize").click(function () {
                sizeTierCount++
                var newSizeHeader =
                    `<th class="size-column">
                        <div class="me-1 d-flex">
                            <div class="form-outline" style="width: 80px; height: 36px;">
                                <input type="text" class="form-control" name="unit[${sizeTierCount}]" placeholder="เช่น 1x1" required>
                                <label class="form-label">ขนาด<span class="text-danger ms-2">*</span></label>
                            </div>
                        </div>
                    </th>`;

                var deletebtn =
                    `<th>
            <button type="button" class="ms-2 px-1 btn btn-danger remove-sizePrice" data-target="${sizeTierCount}">
                <i class="fa-solid fa-trash"></i> ลบคอลัมน์
            </button>
        </th>`;
                $('#headtable').append(deletebtn)
                $("#sizeTbRow").append(newSizeHeader);

                // Add a corresponding "ราคา" column to each "จำนวน" row
                $(".priceRow").each(function (index) {
                    $(this).append(
                        '<th><div class="form-outline" style="width: 80px; height: 36px;"><input type="number" class="form-control p-1" name="qtyPrice[' +
                        index +
                        '][]" required step="0.01" min="0"><label class="form-label">ราคา<span class="text-danger ms-2">*</span></label></div></th>'
                    );
                });

                document.querySelectorAll('.form-outline').forEach((formOutline) => {
                    new mdb.Input(formOutline).init();
                });
                $('#addSize').prop('disabled', sizeTierCount >= 7);
            });
        });


        // $('.addPrice').prop('disabled', qtyTierCount >= 9);
        // $(document).on('click', '.addPrice', function () {
        //     if (qtyTierCount < 9) {
        //         qtyTierCount++
        //         // var count = $(this).closest('.tier').index('.tier');
        //         var form = `
        //   <div class="d-flex mb-2 qtyTierRow">
        //       <div class="form-outline me-2" style="width: 85px; height: 36px;">
        //           <input type="number" class="form-control p-1" name="qty[${qtyTierCount}][]" required style="height: 36px;" step="0.01" min="0">
        //           <label class="form-label">จำนวน<span class="text-danger ms-2">*</span></label>
        //       </div>
        //       <div class="form-outline" style="width: 85px; height: 36px;">
        //           <input type="number" class="form-control p-1" name="qtyPrice[${qtyTierCount}][]" required step="0.01" min="0">
        //           <label class="form-label">ราคา<span class="text-danger ms-2">*</span></label>
        //       </div>
        //       <button type="button" class="ms-2 btn btn-danger remove-price"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
        //   </div>`;

        //         // const row = $(this).data('target');
        //         // console.log(row);
        //         $(`#PriceTier`).append(form);
        //         document.querySelectorAll('.form-outline').forEach((formOutline) => {
        //             new mdb.Input(formOutline).init();
        //         });
        //         $('.addPrice').prop('disabled', qtyTierCount >= 9);
        //     }
        // });


        $(document).on("click", ".remove-sizePrice", function () {
            // Find the index of the column to remove
            var columnIndex = $(this).closest("th.size-column").index();

            // Remove the corresponding header column
            $("#headtable th").eq(columnIndex).remove();

            // Remove the corresponding columns from each "จำนวน" row (including the first row)
            $(".priceRow").each(function () {
                $(this).find("th").eq(columnIndex).remove();
            });

            // Remove the newSizeHeader column
            $("#sizeTbRow th.size-column").eq(columnIndex).remove();

            // Decrease the sizeTierCount
            sizeTierCount--;

            // Enable the "Add Size" button if needed
            $('#addSize').prop('disabled', sizeTierCount >= 7);
        });


        $(document).on('click', '.remove-qtyRow', function () {
            $(this).closest('tr').remove();
            qtyTierCount--
            if (qtyTierCount < 9) {
                $('.addPrice').prop('disabled', false);
            }
        });

        $(document).on('click', '.remove-option', function () {
            $(this).closest('.newOption').remove();
            countOption--; // Decrement the count when deleting a row
            // Update the numbers for all remaining rows
            $('.newOption h5').each(function (index) {
                $(this).text(`ออฟชั่นที่ ${index + 2}`);
            });
        });



        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        // const cardEng = ['papertype', 'printside', 'pumping', 'laminating']
        // const flyerEng = ['papertype', 'printside', 'laminating']
        // const leafletEng = ['papertype', 'printside', 'folding', 'laminating']
        const stickerEng = ['papertype'];
        const billEng = ['papertype', 'color', 'tear'];
        const envelopeEng = ['papertype', 'printside'];
        // const card = ['ประเภทกระดาษ', 'ด้านพิมพ์', 'การปั้ม', 'การเคลือบ']
        // const flyer = ['ประเภทกระดาษ', 'ด้านพิมพ์', 'การเคลือบ']
        // const leaflet = ['ประเภทกระดาษ', 'ด้านพิมพ์', 'การพับ', 'การเคลือบ']
        const sticker = ['กระดาษ'];
        const bill = ['กระดาษ', 'สีกระดาษ', 'แนวฉีก'];
        const envelope = ['กระดาษ', 'ด้านพิมพ์'];

        $(document).ready(function () {
            const options = JSON.parse('<%- JSON.stringify(options) %>');
            $("#categories").change(function () {
                var selectedCategory = $(this).val();
                var form = '';
                if (selectedCategory === "sticker") {
                    stickerEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${sticker[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                } else if (selectedCategory === "bill") {
                    billEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${bill[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                } else if (selectedCategory === "envelope") {
                    envelopeEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${envelope[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                }
                $('#option-mutiselect').empty().append(form);

                // $('button.next').removeClass('disabled')

                $('.option-checkbox').multipleSelect('refreshOptions', {
                    filter: true,
                    placeholder: 'เลือกออฟชั่น',
                    // type: 'optgroup',
                    // hideOptgroupCheckboxes: false
                });
            });
            $("#categories").trigger("change");
        });


        // const beforeUnloadListener = (event) => {
        //     event.preventDefault();
        //     return (event.returnValue = "");
        // };
        // const allInput = document.querySelector("input[type='text'], input[type='number']");

        // allInput.addEventListener("input", (event) => {
        //     if (event.target.value !== "") {
        //         addEventListener("beforeunload", beforeUnloadListener, {
        //             capture: true
        //         });
        //     } else {
        //         removeEventListener("beforeunload", beforeUnloadListener, {
        //             capture: true,
        //         });
        //     }
        // });
    </script>

</body>

</html>