<%- include('../../partials/admin-nav') %>

<style>
    .form-control {
        padding: 5.12px;
    }
</style>

<body style="background-color: #f8f8f8;">
    <div class="box-admin">
        <h1>เพิ่มสินค้า</h1>
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>
        <form action="/addproduct" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div id="product-form">
                <div class="card">
                    <div class="mx-4 mt-4 border-bottom">
                        <h4>รายละเอียดสินค้า</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex ">
                            <div>
                                <div class="product-preview-upload me-4 mb-2" style="margin-top: 33px;">
                                    <div class="option-img">
                                        <div class="upload-icon">
                                            <i class="fa-regular fa-image"></i>
                                            <p>คลิกเพื่อเลือกรูปสินค้า</p>
                                        </div>
                                        <input type="file" name="imgproduct" id="imgproduct"
                                            onchange="previewImage(event, [0])" accept="image/png, image/jpeg" multiple
                                            required class="form-control" />
                                        <img src="/assets/img/white-bg.jpg" alt="" id="option_preview[0]"
                                            draggable="false" class="img_option">
                                    </div>
                                </div>
                                <!-- <span class="mx-4"> รองรับไฟล์</span><br>
                                <span class="mx-4"> PNG, JPEG</span> -->
                            </div>
                            <div class="row w-100">
                                <div class="col p-0">
                                    <div class="form-outline" style="margin-top: 33px;">
                                        <input type="text" id="product-name" class="form-control" name="product_name"
                                            required />
                                        <label class="form-label" for="form6Example1">ชื่อสินค้า<span
                                                class="text-danger ms-1">*</span></label>
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="inlineFormSelectPref">ประเภท <span
                                            class="text-danger ms-2">*</span></label> <br>
                                    <select class="form-select" id="categories" style="height: 35px;" name="categories"
                                        required>
                                        <option value="card">นามบัตร</option>
                                        <option value="flyer">ใบปลิว</option>
                                        <option value="leaflet">แผ่บพับ</option>
                                        <option value="sticker">สติ๊กเกอร์</option>
                                        <option value="bill">ใบบิล</option>
                                        <option value="envelope">ซองจดหมาย</option>
                                    </select>
                                </div>

                                <div class="col ps-0">
                                    <label class="form-label" for="inlineFormSelectPref">สถานะ <span
                                            class="text-danger ms-2">*</span></label> <br>
                                    <select class="form-select" style="height: 35px;" name="status" required>
                                        <option value="1">เปิดรับทำ</option>
                                        <option value="0">งดรับทำ</option>
                                    </select>
                                </div>

                                <div class="w-100 ps-0 ">
                                    <div class="form-outline">
                                        <textarea class="form-control" id="description" rows="4"
                                            name="product_description" required></textarea>
                                        <label class="form-label" for="description">รายละเอียดสินค้า <span
                                                class="text-danger ms-1">*</span></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- 
                <div class="card">
                    <div class="mx-4 mt-4 border-bottom">
                        <h4>กำหนดส่วนลด</h4>
                    </div>
                    <div class="card-body">
                        <div class="row row-cols-lg-auto mb-4">
                            <div class="col">
                                <label class="form-label" for="dc-num">ส่วนลด(%)</label> <br>
                                <input type="number" id="discount" class="form-control" name="discount" value="0"
                                    min="0" max="100" required />
                            </div>
                            <div class="col">
                                <label class="form-label" for="dc-start">วันที่เริ่ม</label> <br>
                                <input type="datetime-local" id="dc-start" class="form-control" name="dc_start" />
                            </div>
                            <div class="col">
                                <label class="form-label" for="dc-end">วันที่สิ้นสุด</label> <br>
                                <input type="datetime-local" id="dc-end" class="form-control" name="dc_end" />
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="card mb-4 spec" id="spec">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดสเปคสินค้า</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="form-outline me-2" style="width: 200px;">
                            <input type="text" class="spec-name form-control" name="spec_name[0][]" required>
                            <label class="form-label">ชื่อสเปค</label>
                        </div>
                        <select multiple="multiple" class="option-checkbox w-100" name="option[0][]" multiple>
             
                        </select>
                        <button type="button" id="add-spec" class="btn btn-secondary mx-2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div id="newRow"></div>
                </div>
            </div> -->

                <!-- <button type="button" class="btn btn-primary btn-block my-5 float-end next disabled fs-6"
                    style="width: 150px;">ถัดไป <div class="spinner-border spinner-border-sm" role="status">
                    </div></button> -->

            </div>
            <div id="option-form">
                <div class="card">
                    <div>
                        <div class="mx-4 mt-4 border-bottom">
                            <h4>ราคา</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 mb-3 tier">
                                    <div class="rounded border p-2 mb-2 me-2"
                                        style="width: fit-content; height: 540px;">
                                        <div class="m-2">
                                            <h5>ราคาไซต์งาน</h5>
                                            <hr>
                                            <!-- <select class="form-select parcel-select" id="parcel-0"
                                                name="option_type[0][]" required>
                                                <option value=" 9x5.5">9 x 5.5 cm</option>
                                                <option value="4x4">9 x 5 cm</option>
                                                <option value="5x5">8 x 5.5 cm</option>
                                                </optgroup>
                                            </select> -->
                                            <div id="sizeTier">
                                                <div class="d-flex mb-2 sizeTierRow" style="height: 36px;">
                                                    <div class="me-2">
                                                        <div class="form-outline" style="width: 85px;">
                                                            <input type="number" class="form-control" name="unit[0][]"
                                                                required step="0.01" min="0">
                                                            <label class="form-label">ค่าขนาด<span
                                                                    class="text-danger ms-2">*</span></label>
                                                        </div>
                                                    </div>
                                                    <!-- <span class="p-1 ">X</span> -->
                                                    <!-- <div class="ms-2">
                                                        <div class="form-outline" style="width: 85px;">
                                                            <input type="number" class="form-control" name="height[0][]"
                                                                required step="0.01" min="0">
                                                            <label class="form-label">ยาว<span
                                                                    class="text-danger ms-2">*</span></label>
                                                        </div>
                                                    </div> -->
                                                    <div class="ms-2">
                                                        <div class="form-outline" style="width: 85px;">
                                                            <input type="number" class="form-control"
                                                                name="sizePrice[0][]" required step="0.01" min="0">
                                                            <label class="form-label">ราคา<span
                                                                    class="text-danger ms-2">*</span></label>
                                                        </div>
                                                    </div>
                                                    <button type="button" id="addSizeTier"
                                                        class="ms-2 btn btn-secondary" data-target="PriceRow-0">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-3">
                                    <div class="rounded border p-2 mb-2 me-2"
                                        style="width: fit-content; height: 540px;">
                                        <div class="m-2">
                                            <h5>ระดับราคาตามจำนวน</h5>
                                            <hr>
                                            <div id="PriceTier">
                                                <div class="d-flex mb-2 qtyTierRow">
                                                    <div class="form-outline me-2" style="width: 85px; height: 36px;">
                                                        <input type="number" class="form-control p-1" name="qty[0][]"
                                                            required style="height: 36px;" step="0.01" min="0">
                                                        <label class="form-label">จำนวน<span
                                                                class="text-danger ms-2">*</span></label>
                                                    </div>
                                                    <div class="form-outline" style="width: 85px; height: 36px;">
                                                        <input type="number" class="form-control p-1"
                                                            name="qtyPrice[0][]" required step="0.01" min="0">
                                                        <label class="form-label">ราคา<span
                                                                class="text-danger ms-2">*</span></label>
                                                    </div>
                                                    <button type="button" id="add-price-0"
                                                        class="addPrice ms-2 btn btn-secondary"
                                                        data-target="PriceRow-0">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- <div class="w-100 mt-4">
                                <button type="button" id="add-tier" class="btn btn-secondary mx-2 fs-6 w-100">
                                    <i class="fa-solid fa-plus"></i>
                                    เพิ่มตาราง
                                </button>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="mx-4 mt-4 border-bottom d-flex justify-content-between">
                        <h4>ออฟชั่นสินค้า</h4>
                    </div>
                    <div class="card-body" id="option-mutiselect">
                        <div class="border p-4 rounded option-box mb-2">
                            <h5 class="d-inline">${card[index]}</h5> <span class="text-danger ms-2">*</span>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple
                                required>
                                <% options.forEach((option) => { %>
                                <% if (option.parcel_type === 'pumping') { %>
                                <option value="<%= option.option_id  %>"><%= option.option_name %></option>
                                <% } %>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block float-end fs-6 my-5 back"
                    style="width: 150px;">บันทึก</button>
            </div>
        </form>
    </div>

    <script src="/js/validateBs.js"></script>
    <script>
        // $('.needs-validation').submit(function (event) {
        //     if ($('.option-checkbox').val() == null) {
        //         $('.ms-choice').css('border: red solid;');
        //         event.preventDefault();
        //     } 
        // });


        function previewImage(event, index) {
            var input = event.target;
            var imgPreview = document.getElementById('option_preview[' + index + ']');
            console.log(imgPreview)
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                imgPreview.src = "";
            }
            $('.upload-icon').hide()
        }

        $(function () {
            $('.option-checkbox').multipleSelect({
                filter: true,
                placeholder: 'เลือกออฟชั่น',
                // type: 'optgroup',
                // hideOptgroupCheckboxes: false
            });
        })

        var sizeTierCount = 0;
        var qtyTierCount = 0;
        var img = 0

        $("#discount").on("change", function () {
            var inputValue = $(this).val();

            if (parseFloat(inputValue) > 0) {
                $('#dc-start').prop("disabled", false);
                $('#dc-end').prop("disabled", false);
            } else {
                $('#dc-start').prop("disabled", true);
                $('#dc-end').prop("disabled", true);
            }
        });

        $('#addSizeTier').prop('disabled', sizeTierCount >= 9);
        $(document).on('click', '#addSizeTier', function () {
            if (sizeTierCount < 9) {
                sizeTierCount++;
                var newSzieRow = `
            <div class="d-flex mb-2 sizeTierRow" style="height: 36px;">
                                                    <div class="me-2">
                                                        <div class="form-outline" style="width: 85px;">
                                                            <input type="number" class="form-control" name="unit[${sizeTierCount}][]"
                                                                required>
                                                            <label class="form-label">กว้าง<span
                                                                    class="text-danger ms-2">*</span></label>
                                                        </div>
                                                    </div>
                                    
                                                    <div class="ms-2">
                                                        <div class="form-outline" style="width: 85px;">
                                                            <input type="number" class="form-control" name="sizePrice[${sizeTierCount}][]"
                                                                required step="0.01" min="0">
                                                            <label class="form-label">ราคา<span
                                                                    class="text-danger ms-2">*</span></label>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="ms-2 btn btn-danger remove-sizePrice"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                                                </div>
          `;
                $('#sizeTier').append(newSzieRow);
                document.querySelectorAll('.form-outline').forEach((formOutline) => {
                    new mdb.Input(formOutline).init();
                });
                $('#addSizeTier').prop('disabled', sizeTierCount >= 9);
            }
        });

        $('.addPrice').prop('disabled', qtyTierCount >= 9);
        $(document).on('click', '.addPrice', function () {
            if (qtyTierCount < 9) {
                qtyTierCount++
                // var count = $(this).closest('.tier').index('.tier');
                var form = `
          <div class="d-flex mb-2 qtyTierRow">
              <div class="form-outline me-2" style="width: 85px; height: 36px;">
                  <input type="number" class="form-control p-1" name="qty[${qtyTierCount}][]" required style="height: 36px;" step="0.01" min="0">
                  <label class="form-label">จำนวน<span class="text-danger ms-2">*</span></label>
              </div>
              <div class="form-outline" style="width: 85px; height: 36px;">
                  <input type="number" class="form-control p-1" name="qtyPrice[${qtyTierCount}][]" required step="0.01" min="0">
                  <label class="form-label">ราคา<span class="text-danger ms-2">*</span></label>
              </div>
              <button type="button" class="ms-2 btn btn-danger remove-price"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
          </div>`;

                // const row = $(this).data('target');
                // console.log(row);
                $(`#PriceTier`).append(form);
                document.querySelectorAll('.form-outline').forEach((formOutline) => {
                    new mdb.Input(formOutline).init();
                });
                $('.addPrice').prop('disabled', qtyTierCount >= 9);
            }
        });


        $(document).on('click', '.remove-sizePrice', function () {
            $(this).closest('.d-flex').remove();
            sizeTierCount--
            if (sizeTierCount < 10) {
                $('#addSizeTier').prop('disabled', false);
            }
        });

        $(document).on('click', '.remove-price', function () {
            $(this).closest('.d-flex').remove();
            qtyTierCount--
            if (qtyTierCount < 9) {
                $('.addPrice').prop('disabled', false);
            }
        });

        $(document).on('click', '.remove-option', function () {
            $(this).closest('.newOption').remove();
            countOption--; // Decrement the count when deleting a row
            // Update the numbers for all remaining rows
            $('.newOption h5').each(function (index) {
                $(this).text(`ออฟชั่นที่ ${index + 2}`);
            });
        });



        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        const cardEng = ['papertype', 'printside', 'pumping', 'laminating']
        const flyerEng = ['papertype', 'printside', 'laminating']
        const leafletEng = ['papertype', 'printside', 'folding', 'laminating']
        const stickerEng = ['papertype', 'pumping', 'die-cut']
        const billEng = ['papertype', 'color', 'layer', 'number']
        const envelopeEng = ['papertype', 'printside', 'pumping']

        const card = ['ประเภทกระดาษ', 'ด้านพิมพ์', 'การปั้ม', 'การเคลือบ']
        const flyer = ['ประเภทกระดาษ', 'ด้านพิมพ์', 'การเคลือบ']
        const leaflet = ['ประเภทกระดาษ', 'ด้านพิมพ์', 'การพับ', 'การเคลือบ']
        const sticker = ['ประเภทกระดาษ', 'การปั้ม', 'การไดคัท']
        const bill = ['ประเภทกระดาษ', 'สี', 'จำนวนชั้น', 'รันเลข']
        const envelope = ['ประเภทกระดาษ', 'ด้านพิมพ์', 'การปั้ม']

        $(document).ready(function () {
            const options = JSON.parse('<%- JSON.stringify(options) %>');
            $("#categories").change(function () {
                var selectedCategory = $(this).val();
                var form = '';
                if (selectedCategory === "card") {
                    cardEng.forEach((item, index) => {
                        form += `
        <div class="border p-4 rounded option-box mb-2">
            <input type="hidden" name="option_type[${index}]">
          <h5 class="d-inline">${card[index]}</h5> <span class="text-danger ms-2">*</span>
          <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
            ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
          </select>
        </div>
      `;
                    });
                } else if (selectedCategory === "flyer") {
                    flyerEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${flyer[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                } else if (selectedCategory === "leaflet") {
                    leafletEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${leaflet[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                } else if (selectedCategory === "sticker") {
                    stickerEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${sticker[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                } else if (selectedCategory === "bill") {
                    billEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${bill[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                } else if (selectedCategory === "envelope") {
                    envelopeEng.forEach((item, index) => {
                        form += `<div class="border p-4 rounded option-box mb-2">
                            <input type="hidden" name="option_type[${index}]">
                            <h5 class="d-inline">${envelope[index]}</h5> <span class="text-danger ms-2">*</span>
                            <div class="d-flex" id="option-multiselect-0">
                            </div>
                            <select multiple="multiple" class="option-checkbox w-100" name="option[${index}][]" multiple required>
                                ${options
              .filter(option => option.option_type === item)
              .map(option => `<option value="${option.option_id}">${option.option_name}</option>`)
              .join('')}
                            </select>
                        </div>
                        `
                    });
                }
                $('#option-mutiselect').empty().append(form);

                // $('button.next').removeClass('disabled')

                $('.option-checkbox').multipleSelect('refreshOptions', {
                    filter: true,
                    placeholder: 'เลือกออฟชั่น',
                    // type: 'optgroup',
                    // hideOptgroupCheckboxes: false
                });
            });
            $("#categories").trigger("change");
        });


        // const beforeUnloadListener = (event) => {
        //     event.preventDefault();
        //     return (event.returnValue = "");
        // };
        // const allInput = document.querySelector("input[type='text'], input[type='number']");

        // allInput.addEventListener("input", (event) => {
        //     if (event.target.value !== "") {
        //         addEventListener("beforeunload", beforeUnloadListener, {
        //             capture: true
        //         });
        //     } else {
        //         removeEventListener("beforeunload", beforeUnloadListener, {
        //             capture: true,
        //         });
        //     }
        // });
    </script>

</body>

</html>