<%- include('../../partials/admin-nav') %>

<body>
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>เพิ่มสินค้า</h1>
            <ol class="list-unstyled d-flex ">
                <li class="breadcrumb-item"><a class="link-light" href="#">หน้าแรก</a></li>
                <li class="active text-light ms-2">/ สินค้า</li>
            </ol>
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>
    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success">
            <%- item %>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger">
            <%- item %>
        </div>
        <% }); %>
        <% } %>
        <form action="/updateProduct/<%= product.product_id %>" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>รายละเอียดสินค้า</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div class="product-preview-upload me-4">
                            <div class="option-img ">
                                <i class="fa-solid fa-plus"></i>
                                <input type="file" name="imgproduct" id="imgproduct" onchange="previewImage(event, [0])"
                                    accept="image/png, image/jpeg" multiple />
                                <img src="<%= product.picture %>" alt="" id="preview" draggable="false"
                                    class="img_option imageFitBox">
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col p-0">
                                <div class="form-outline">
                                    <input type="text" id="product-name" class="form-control" name="product_name"
                                        value=" <%= product.productName %>" required />
                                    <label class="form-label" for="form6Example1">ชื่อสินค้า</label>
                                </div>
                            </div>

                            <div class="col">
                                <!-- <label class="form-label" for="inlineFormSelectPref">ประเภท</label> <br> -->
                                <select class="form-select" style="height: 35px;" name="categories">
                                    <% const values = ['card', 'flyer', 'leaflet', 'sticker', 'bill', 'letter']; %>
                                    <% const thai = ['นามบัตร', 'ใบปลิว', 'แผ่บพับ', 'สติ๊กเกอร์', 'ใบบิล', 'ซองจดหมาย']; %>
                                    <% for (let i = 0; i < values.length; i++) { %>
                                    <option value="<%= values[i] %>"
                                        <%=  values[i] === product.categories ? 'selected' : '' %>"><%= thai[i] %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="col">
                                <!-- <label class="form-label" for="inlineFormSelectPref">สถานะ</label> <br> -->
                                <select class="form-select" style="height: 35px;" name="status">
                                    <option value="1" <%= product.status === 1 ? 'selected' : '' %>>เปิดรับทำ</option>
                                    <option value="0" <%= product.status === 0 ? 'selected' : '' %>>งดรับทำ</option>
                                </select>
                            </div>

                            <div class="w-100 ps-0 mt-2">
                                <!-- Message input -->
                                <div class="form-outline ">
                                    <textarea class="form-control" id="description" rows="4" name="product_description"
                                        required> <%= product.description %></textarea>
                                    <label class="form-label" for="description">รายละเอียดสินค้า</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดส่วนลด</h4>
                </div>
                <div class="card-body">
                    <div class="row row-cols-lg-auto mb-4">
                        <div class="col">
                            <label class="form-label" for="dc-num">ส่วนลด(%)</label> <br>
                            <input type="number" id="discount" class="form-control" name="discount" value="0" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="dc-start">วันที่เริ่ม</label> <br>
                            <input type="datetime-local" id="dc-start" class="form-control" name="dc_start" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="dc-end">วันที่สิ้นสุด</label> <br>
                            <input type="datetime-local" id="dc-end" class="form-control" name="dc_end" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดราคาเหมาตามปริมาณ</h4>
                </div>
                <div class="card-body">
                    <div class="row row-cols-auto mb-4">
                        <div class="col d-flex">
                            <input type="hidden" name="qtId[0][]" value="<%= priceTiers[0].qtTier_id %>">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="minqt[0][]"
                                    value="<%= priceTiers[0].minqt %>" required>
                                <label class="form-label">จาก</label>
                            </div>
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="maxqt[0][]"
                                    value="<%= priceTiers[0].maxqt %>" required>
                                <label class="form-label">ถึง</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="spec-name form-control" name="priceTier[0][]"
                                    value="<%= priceTiers[0].priceqt %>" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" id="add-price" class="btn btn-secondary">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div id="newPriceRow">
                        <% for (let j = 1; j < priceTiers.length; j++) { %>
                        <div class="row row-cols-auto mb-4 newPrice">
                            <div class="col d-flex">
                                <input type="hidden" name="qtId[<%= j %>][]" value="<%= priceTiers[j].qtTier_id %>">
                                <div class="form-outline w-50 me-2">
                                    <input type="text" class="spec-name form-control" name="minqt[<%= j %>][]"
                                        value="<%= priceTiers[j].minqt %>" required>
                                    <label class="form-label">จาก</label>
                                </div>
                                <div class="form-outline w-50 me-2">
                                    <input type="text" class="spec-name form-control" name="maxqt[<%= j %>][]"
                                        value="<%= priceTiers[j].maxqt %>" required>
                                    <label class="form-label">ถึง</label>
                                </div>
                                <div class="form-outline w-50">
                                    <input type="text" class="spec-name form-control" name="priceTier[<%= j %>][]"
                                        value="<%= priceTiers[j].priceqt %>" required>
                                    <label class="form-label">ราคา</label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger remove-price"><i class="fa-solid fa-trash"
                                    style="color: #ffffff;"></i></button>
                        </div>
                        <% }; %>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดราคาเหมาตามขนาด</h4>
                </div>
                <div class="card-body">
                    <div class="row row-cols-auto mb-4">
                        <div class="col d-flex">
                            <input type="hidden" name="sizeId[0][]" value="<%= sizeTiers[0].sizeTier_id %>">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="minsize[0][]"
                                    value="<%= sizeTiers[0].minSize %>" required>
                                <label class="form-label">หน่วยขนาด</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="spec-name form-control" name="priceSize[0][]"
                                    value="<%= sizeTiers[0].pricesize %>" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" id="add-size" class="btn btn-secondary">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div id="newSizeRow">
                        <% for (let i = 1; i < sizeTiers.length; i++) { %>
                        <div class="row row-cols-auto mb-4 newSize">
                            <div class="col d-flex">
                                <input type="hidden" name="sizeId[<%= i %>][]" value="<%= sizeTiers[i].sizeTier_id %>">
                                <div class="form-outline w-50 me-2">
                                    <input type="text" class="spec-name form-control" name="minsize[<%= i %>][]"
                                        value="<%= sizeTiers[i].minSize %>" required>
                                    <label class="form-label">หน่วยขนาด</label>
                                </div>
                                <div class="form-outline w-50">
                                    <input type="text" class="spec-name form-control" name="priceSize[<%= i %>][]"
                                        value="<%= sizeTiers[i].pricesize %>" required>
                                    <label class="form-label">ราคา</label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                            data-id="<%= sizeTiers[i].sizeTier_id %>"><i class="fa-solid fa-trash"
                                    style="color: #ffffff;"></i></button>
                        </div>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">ลบประเภท</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- <form action="/deleteSize" id="editForm" method="post"> -->
                                        <div>
                                            <p>ต้องการลบใช่หรือไม่ ?</p>
                                        </div>
                                        <input type="hidden" id="id" name="option_id" value="" />
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary "
                                                data-mdb-dismiss="modal">ยกเลิก</button>
                                            <button type="button" class="btn btn-danger remove-size">ยืนยัน</button>
                                        </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                        <% }; %>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block my-3 mb-5 float-end" style="width: 150px;">ยืนยัน</button>
        </form>
    </div>
    <script>
        // $('.option-checkbox').multipleSelect({
        //     filter: true,
        //     keepOpen: true,
        //     placeholder: 'เลือกวัสดุที่ใช้กับสเปคนี้'
        // })

        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        function previewImage(event, index) {
            var input = event.target;
            var imgPreview = document.getElementById('option_preview[' + index + ']');
            console.log(imgPreview)
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                imgPreview.src = "";
            }
        }
        var specCount = 0;
        var img = 0
        let quantityCount = -1;
        let sizeCount = -1;

        $('#add-price').on('click', function () {
            quantityCount++
            var newPriceRow = `
            <div class="row row-cols-auto mb-4 newPrice">
                        <div class="col d-flex">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="newminqt[${quantityCount}][]" required>
                                <label class="form-label">จาก</label>
                            </div>
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="newmaxqt[${quantityCount}][]" required>
                                <label class="form-label">ถึง</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="spec-name form-control" name="newpriceTier[${quantityCount}][]" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger remove-price"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                    </div>
          `;

            $('#newPriceRow').append(newPriceRow);
            document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
            });
        })

        $('#add-size').on('click', function () {
            sizeCount++
            var newrow = `
            <div class="row row-cols-auto mb-4 newSize">
                        <div class="col d-flex">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="form-control" name="newminsize[${sizeCount}][]" required>
                                <label class="form-label">หน่วยขนาด</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="form-control" name="newpriceSize[${sizeCount}][]" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger remove-size"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                    </div>
          `;

            $('#newSizeRow').append(newrow);
            document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
            });
        })

        $('#newPriceRow').on('click', '.remove-price', function () {
            $(this).closest(`.newPrice`).remove();
        });

        $('#newSizeRow').on('click', '.remove-size', function () {
            $(this).closest(`.newSize`).remove();
        });
    </script>

</body>

</html>