<%- include('../../partials/admin-nav') %>

<body class="h-100" style="background-color: rgb(248, 248, 248);">
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>สมาชิก</h1>
            <!-- <ol class="list-unstyled d-flex ">
                <li class="breadcrumb-item"><a class="link-light" href="#">หน้าแรก</a></li>
                <li class="active text-light ms-2">/ ตัวเลือกสินค้า</li>
            </ol> -->
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>
    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>
        <!-- <div class="d-flex w-50 float-end justify-content-end">
            <div class="rounded mb-3">
                <input type="search" class="form-control rounded" id="search_user" placeholder="Search"
                    aria-label="Search" aria-describedby="search-addon" style="height: 40px;" />
            </div>
            <div class="ms-2">
                <select class="form-select" aria-label="Default select example" style="height: 40px;">
                    <option selected>ไอดี</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div> -->
        <div class="table-cate-tab">
            <div class="d-flex">
                <button class="tab btn active" data-target="activeaccount">บัญชีปกติ</button>
                <button class="tab btn" data-target="closeaccount">บัญชีที่ปิด</button>
            </div>
        </div>
        <div class="card " id="activeaccount" style="width: 100%; margin: auto;">
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white table-striped" id="table">
                    <thead class="bg-light">
                        <tr>
                            <th>No.</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อ</th>
                            <th>เบอร์โทร</th>
                            <th>อีเมล</th>
                            <th>สถานะยืนยัน</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="user_list">
                        <% if(user.length > 0) {%>
                        <% user.forEach((users) => { %>
                        <% if (users.deleted_at == null) { %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= users.user_id %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <img src="<%= users.picture %>" alt="">
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= users.name %></p>
                            </td>
                            <td><%= users.telephone %></td>
                            <td><%= users.email %></td>
                            <td><% if(users.verified == false) { %>
                                ยังไม่ยืนยันอีเมล
                                <% }else{ %>
                                ยืนยันอีเมลแล้ว
                                <% } %></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-edit delete" data-mdb-toggle="modal"
                                    data-mdb-target="#deleteModal" data-user-id="<%= users.user_id %>">
                                    ปิดบัญชี
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="card" id="closeaccount" style="width: 100%; margin: auto;">
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>No.</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อ</th>
                            <th>เบอร์โทร</th>
                            <th>สถานะ</th>
                            <th>สถานะยืนยัน</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="user_list">
                        <% if(user.length > 0) {%>
                        <% user.forEach((users) => { %>
                        <% if (users.deleted_at !== null) { %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= users.user_id %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <img src="<%= users.picture %>" alt="">
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= users.name %></p>
                            </td>
                            <td><%= users.telephone %></td>
                            <td><%= users.email %></td>
                            <td><% if(users.verified == false) { %>
                                ยังไม่ยืนยันอีเมล
                                <% }else{ %>
                                ยืนยันอีเมลแล้ว
                                <% } %></td>
                            <td>
                                <button type="button" class="btn btn-secondary restore" data-mdb-toggle="modal"
                                    data-mdb-target="#deleteModal" data-user-id="<%= users.user_id %>"
                                    data-name="<%= users.name %>">
                                    กู้บัญชี
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">ปิดบัญชี</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/deleteType" id="userform" method="post">
                        <div>
                            <p>ต้องการปิดบัญชีของ <i class="getname"></i> ใช่หรือไม่ ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-mdb-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-danger">ยืนยัน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).on("click", ".delete", function () {
        var userid = $(this).data("user-id");
        $('#userform').attr('action', `/deleteUser/${userid}`)
        $('.getname').text($(this).data('name'));
    });
    $(document).on("click", ".restore", function () {
        var userid = $(this).data("user-id");
        $('#userform').attr('action', `/restoreUser/${userid}`)
        $('.getname').text($(this).data('name'));

    });


    $(document).ready(function () {
        $('.table').DataTable({
            order: [
                [3, 'desc']
            ],
        });
        $('#closeaccount').hide()
        $('.tab').each(function () {
            $(this).click(function () {
                $('.tab').removeClass('active');
                $(this).addClass('active')
                $(`.card`).hide()
                $(`#${$(this).data('target')}`).show()
            })
        })
    });
</script>