<%- include('../../partials/admin-nav') %>

<body class="h-100" style="background-color: rgb(248, 248, 248);">
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>ออฟชั่นสินค้า</h1>
            <!-- <ol class="list-unstyled d-flex ">
                <li class="breadcrumb-item"><a class="link-light" href="#">หน้าแรก</a></li>
                <li class="active text-light ms-2">/ ตัวเลือกสินค้า</li>
            </ol> -->
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>
    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>
        <!-- <div class="dropdown">
            <button class="btn btn-secondary mb-3 fs-6 dropdown-toggle" type="button" id="dropdownMenuButton"
                data-mdb-toggle="dropdown" aria-expanded="false">
                เพิ่มตัวเลือกวัสดุ
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item fs-6" href="#"><i class="fa-solid fa-plus"></i> นามบัตร</a></li>
                <li><a class="dropdown-item fs-6" href="#"><i class="fa-solid fa-plus"></i> ใบปลิว</a></li>
                <li><a class="dropdown-item fs-6" href="#"><i class="fa-solid fa-plus"></i> แผ่นพับ</a></li>
                <li><a class="dropdown-item fs-6" href="#"><i class="fa-solid fa-plus"></i> สติ๊กเกอร์</a></li>
                <li><a class="dropdown-item fs-6" href="#"><i class="fa-solid fa-plus"></i> บิล</a></li>
                <li><a class="dropdown-item fs-6" href="#"><i class="fa-solid fa-plus"></i> ซองจดหมาย</a></li>

            </ul>
        </div> -->

        <a href="/admin/options/addoption">
            <button type="button" class="btn btn-secondary mb-3 fs-6">
                <i class="fa-solid fa-plus"></i>
                เพิ่มตัวเลือกวัสดุ
            </button>
        </a>
        <div class="table-cate-tab">
            <div class="d-flex">
                <button class="tab btn active" data-target="all-tb">ทั้งหมด</button>
                <button class="tab btn" data-target="papertype-tb">ประเภทกระดาษ</button>
                <button class="tab btn" data-target="oil-tb">การเคลือบเงา</button>
                <button class="tab btn" data-target="diecut-tb">การไดคัท</button>
                <button class="tab btn" data-target="printside-tb">ด้านพิมพ์</button>
                <button class="tab btn" data-target="fold-tb">การพับ</button>
                <button class="tab btn" data-target="color-tb">สี</button>
                <button class="tab btn" data-target="number-tb">รันเลข</button>
                <button class="tab btn" data-target="layer-tb">จำนวนชั้น</button>

            </div>
        </div>
        <div class="card" style="width: 100%; margin: auto; border-top-left-radius: 0; border-top-right-radius: 0;">
            <div class="card-body" id="all-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th>หมวดหมู่</th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody id="list">
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <% let parcel; %>
                            <% if(option.option_type === "format"){ %>
                            <% parcel = "ขนาดของชิ้นงาน" %>
                            <% }else if(option.option_type === "papertype"){ %>
                            <% parcel = "ประเภทกระดาษ" %>
                            <% }else if(option.option_type === "laminating"){ %>
                            <% parcel = "การเคลือบเงา" %>
                            <% }else if(option.option_type === "pumping"){ %>
                            <% parcel = "การปั้ม" %>
                            <% }else if(option.option_type === "die-cut"){ %>
                            <% parcel = "การไดคัท" %>
                            <% }else if(option.option_type === "folding"){ %>
                            <% parcel = "การพับ" %>
                            <% }else if(option.option_type === "printside"){%>
                            <% parcel = "ด้านพิมพ์" %>
                            <% } %>
                            <td><%= parcel %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>

                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="card-body" id="papertype-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'papertype') {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="card-body" id="oil-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'oil') {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="card-body" id="diecut-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'die-cut') { %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="card-body" id="printside-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'printside') {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="card-body" id="fold-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'fold') {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="card-body" id="color-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'color') {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="card-body" id="number-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'number') {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="card-body" id="layer-tb">
                <table class="table align-middle mb-0 bg-white table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อตัวเลือก</th>
                            <th>ราคาต่อหน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(options.length > 0) {%>
                        <% options.forEach((option, index) => { %>
                        <% if(option.option_type === 'layer') {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <% if(option.option_img === null) {  %>
                                <img src="/assets/img/crossed-image-icon.jpg" alt="" draggable="false" width="30">
                                <% } else { %>
                                <img src="<%= option.option_img %>" alt="" draggable="false" width="30">
                                <% } %>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= option.option_name %></p>
                            </td>
                            <td><%= option.price_per_unit %></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-edit btn-sm update"
                                    data-mdb-toggle="modal" data-mdb-target="#updateModal"
                                    data-id="<%= option.option_id %>" data-name="<%= option.option_name %>"
                                    data-img="<%= option.option_img %>" data-price="<%= option.price_per_unit %>"
                                    data-product="<%= option.product_id %>" data-parcel="<%= option.option_type %>">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-edit delete"
                                    data-mdb-toggle="modal" data-mdb-target="#deleteModal"
                                    data-id="<%= option.option_id %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade slidedown" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">แก้ไขตัวเลือกวัสดุ</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/updateOption" id="editForm" method="post" class="needs-validation" novalidate>
                        <input type="hidden" id="id1" name="option_id" value="" />
                        <div class="sub-option-row">
                            <div class="row row-cols-lg-auto mb-4">
                                <div class="col-2">
                                    <div class="product-preview-upload me-4 mb-2">
                                        <div class="option-img">
                                            <div class="upload-icon">
                                                <i class="fa-regular fa-image"></i>
                                                <p>คลิกเพื่อเลือกรูปสินค้า</p>
                                            </div>
                                            <input type="file" name="option_img" onchange="previewImage(event, [0])"
                                                accept="image/png, image/jpeg" multiple class="form-control" multiple
                                                 />
                                            <img src="https://www.solidbackgrounds.com/images/950x350/950x350-white-solid-color-background.jpg"
                                                alt="" id="option_preview" draggable="false" class="img_option">
                                        </div>
                                    </div>
                                    <!-- <span class="mx-4"> รองรับไฟล์</span><br>
                                    <span class="mx-4"> PNG, JPEG</span> -->
                                </div>
                                <div class="col">
                                    <div class="form-outline mb-3">
                                        <input type="text" name="option" class="sub-option-name form-control"
                                            id="optionName" required>
                                        <label class="form-label" for="optionName">ชื่อตัวเลือก</label>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <input type="number" name="option_price" id="price"
                                            class="sub-option-price form-control" required>
                                        <label class="form-label">ราคาต่อหน่วย</label>
                                    </div>
                                    <select class="form-select mb-3" id="parcel"
                                        aria-label="Default select example" name="option_parcel">
                                        <option value="papertype">ประเภทกระดาษ</option>
                                        <option value="laminating">การเคลือบเงา</option>
                                        <option value="pumping">การปั้ม</option>
                                        <option value="die-cut">การไดคัท</option>
                                        <option value="printside">ด้านพิมพ์</option>
                                        <option value="folding">การพับ</option>
                                        <optgroup label="ตัวเลือกเฉพาะบิล">
                                            <option value="color">สี</option>
                                            <option value="number">รันเลข</option>
                                            <option value="layer">จำนวนชั้น</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-mdb-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-primary">ยืนยัน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">ลบประเภท</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/deleteOption" id="editForm" method="post">
                        <div>
                            <p>ต้องการลบประเภทใช่หรือไม่ ?</p>
                        </div>
                        <input type="hidden" id="id" name="option_id" value="" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-mdb-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-danger">ยืนยัน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                order: [
                    [0, 'desc']
                ],
            });
        });

        $('.option-checkbox').multipleSelect({
            filter: true,
            keepOpen: true,
            placeholder: 'เลือกสินค้าที่ใช้ตัวเลือกนี้',
            type: 'optgroup',
            hideOptgroupCheckboxes: false

        })

        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        function previewImage(event, index) {
            var input = event.target;
            var imgPreview = document.getElementById('option_preview');
            console.log(imgPreview)
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                imgPreview.src = "";
            }
        }

        $(document).on("click", ".delete", function () {
            var id = $(this).data("id");
            $("#id").val(id);
        });

        $(document).on("click", ".update", function () {
            var id = $(this).data("id");
            var optionName = $(this).data("name");
            var img = $(this).data("img")
            var price = $(this).data("price");
            var parcel = $(this).data("parcel");
            var product = $(this).data("product");

            $("#id1").val(id);
            $("#optionName").val(optionName);
            $("#price").val(price);
            $(".img_option").attr("src", img)
            $("#parcel").val(parcel)
            // $("#product-cb").attr("option", product)
        });

        $(document).ready(function () {
            // event.preventDefault();
            $('#papertype-tb').hide();
            $('#oil-tb').hide();
            $('#diecut-tb').hide();
            $('#printside-tb').hide();
            $('#fold-tb').hide();
            $('#color-tb').hide();
            $('#number-tb').hide();
            $('#layer-tb').hide();
        });

        $(document).ready(function () {
            $(".tab").on("click", function () {
                const targetSection = $(this).data("target");
                $(".tab").removeClass("active");
                $(this).addClass("active");
                $(".box-admin .card-body").hide();
                $("#" + targetSection).show();
            });
        });
    </script>
</body>