<%- include('../../partials/admin-nav') %>

<body class="h-100" style="background-color: rgb(248, 248, 248);">
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>ออเดอร์ #<%= orders[0].order_id %> - <% if (orders[0].order_status === 'waitpay') {%>
                <span class="fs-1 text-warning">รอชำระ</span>
                <%} else if (orders[0].order_status === 'pending') {%>
                <span class="fs-1 text-warning">รอตรวจสอบ</span>
                <% } else if (orders[0].order_status === 'produce') {%>
                <span class="fs-1 text-info">กำลังผลิต</span>
                <% } else if (orders[0].order_status === 'shipping') {%>
                <span class="fs-1 text-secondary">กำลังจัดส่ง</span>
                <% } else if (orders[0].order_status === 'success') {%>
                <span class="fs-1 text-success">จัดส่งสำเร็จ</span>
                <% } else if (orders[0].order_status === 'cancel') {%>
                <span class="fs-1 text-cancel">ยกเลิก</span>
                <% } %></h1>
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>
    <%     function datetimeLocal(datetime) { %>
    <%   const dt = new Date(datetime); %>
    <%    dt.setMinutes(dt.getMinutes() - dt.getTimezoneOffset()); %>
    <%   return dt.toISOString().slice(0, 10) + ' ' + dt.toISOString().slice(11, 16); %>
    <%  } %>

    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>


        <% let couponDiscount = 0; %>
        <% if (orders[0].discount != null) { %>
        <% couponDiscount = orders[0].discount; %>
        <% } %>
        <div class="w-100 d-flex justify-content-between">
            <a href="/purchaseorder/<%= orders[0].order_id %>">
                <button class="btn btn-warning fs-6"><i class="fa-solid fa-print"></i> พิมพ์ใบสั่งซื้อ</button>
            </a>
            <% if (orders[0].order_status == 'waitpay' || orders[0].order_status == 'pending') { %>
            <div>
                <button class="btn btn-danger fs-6" data-bs-toggle="modal"
                    data-bs-target="#cancelOrder">ยกเลิกออเดอร์</button>
            </div>
            <% } %>
            <% if (orders[0].order_status == 'shipping') { %>
            <div class="">
                <button class="btn btn-success btn-sm mx-5 fs-6 w-25" data-bs-toggle="modal"
                    data-bs-target="#confirmShiped"><i class="fa-solid fa-circle-check"></i> ยืนยันจัดส่งสำเร็จ</button>
            </div>
            <% } %>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class=" m-3">
                        <div class="card-header mb-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <h4 class="m-0 me-2 d-inline align-self-center">รายละเอียดรายการ</h4>
                            </div>
                        </div>
                        <div class="px-3">
                            <div>
                                <span>สั่งซื้อเมื่อ : <%= datetimeLocal(orders[0].orderdate) %></span>
                            </div>
                            <% let sumprice = 0; %>
                            <% let shipmentprice = orders[0].shipment_price; %>
                            <% orders[0].order_detail.forEach((order, index) => { %>
                            <div class="row my-2 py-2 border-bottom">
                                <div class="col-2 h-100">
                                    <div class="myorder-product-img">
                                        <img src="<%= order.picture %>" alt="" class="imageFitBox">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <h4><%= order.productName %></h4>
                                    <div class="collapse-horizontal">
                                        <span class="mb-2"> ขนาดของชิ้นงาน : <%= order.size %></span><br>
                                        <% order.options.forEach((option) => { %>
                                        <% let type; %>
                                        <% if (option.option_type == 'papertype') type = 'กระดาษ' %>
                                        <% if (option.option_type == 'die-cut') type = 'การไดคัท' %>
                                        <% if (option.option_type == 'color') type = 'สีกระดาษ' %>
                                        <% if (option.option_type == 'tear') type = 'แนวฉีก' %>
                                        <% if (option.option_type == 'printside') type = 'ด้านพิมพ์' %>
                                        <p class="mb-2"> <%= type %> : <%= option.option_name %></p>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h5>จำนวน</h5>
                                    <p><%= order.quantity %></p>
                                </div>
                                <div class="col-2">
                                    <h5>ราคา</h5>
                                    <p><%= money.format(order.price) %></p>
                                </div>
                                <div class="text-end">
                                    <a href="/design<%= order.design_file %>">
                                        <i class="fa-solid fa-file"></i> ไฟล์ออกแบบ
                                      </a>                                      
                                </div>
                            </div>
                            <% sumprice += order.price %>
                            <% }) %>
                            <% let vat = sumprice * 7 / 100; %>
                        </div>
                    </div>
                </div>
                <div class="card" style="height: fit-content;">
                    <div class="card-body text-center">
                        <div class="mb-2 mx-3">
                            <div class="my-2 d-flex justify-content-between">
                                <span>ยอดรวมสินค้า (<%= orders[0].order_detail.length %> รายการ)</span>
                                <span>
                                    <%= money.format(sumprice) %>
                                </span>
                            </div>
                            <div class="my-2 d-flex justify-content-between">
                                <span>ค่าส่ง</span>
                                <span>
                                    <%= money.format(shipmentprice) %>
                                </span>
                            </div>
                            <div class="my-2 d-flex justify-content-between">
                                <span>VAT 7%</span>
                                <span>
                                    <%= money.format(vat) %>
                                </span>
                            </div>
                            <% if (orders[0].coupon_id != null) { %>
                            <div class="my-2 d-flex justify-content-between">
                                <span>ส่วนลด</span>
                                <span class="text-danger">
                                    -<%= money.format(couponDiscount) %>
                                </span>
                            </div>
                            <% } %>
                            <div class="border-top pt-3 my-2 d-flex justify-content-between">
                                <b>ยอดรวมทั้งหมด</b>
                                <div class="d-flex">
                                    <span class="fw-bold me-2" id="totalPrice">
                                        <%= money.format((sumprice + shipmentprice + vat) - couponDiscount) %>
                                    </span>
                                    <span class="fw-bold" id="newPrice">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h4>ข้อมูลผู้ซื้อ</h4>
                        <h6>ชื่อ : <%= user.name %></h6>
                        <h6>อีเมล : <%= user.email %></h6>
                        <h6>เบอร์โทรศัพท์ : <%= user.telephone %></h6>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body mb-2">
                        <div id="paymentCol">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h4>การชำระเงิน</h4>
                                    <% if (payments.length > 0 && payments[0].payment_status === 'waitpay') {%>
                                    <div class="alert-warning p-1 rounded text-center">
                                        ลูกค้ายังไม่ได้ชำระเงิน
                                    </div>
                                    <%} else if (orders[0].order_status === 'pending') {%>
                                    <div class="alert-info p-1 rounded text-center">
                                        รอตรวจสอบ
                                    </div>
                                    <% } else if (payments.length > 0 && payments[0].payment_status === 'approved') {%>
                                    <div class="alert-success p-1 rounded text-center">
                                        ชำระเงินแล้ว
                                    </div>
                                    <% } %>
                                </div>
                                <div class="text-start pt-2">
                                    <% const bankname = banklist.find(row => row.en == paymentSelect[0].method_name) %>
                                    <% if (bankname) { %>
                                    <h6>โอนเงินผ่าน<%= bankname.th %></h6>
                                    <% } else { %>
                                    <h6>โอนเงินผ่านพร้อมเพย์</h6>
                                    <% } %>
                                </div>
                            </div>
                            <div>
                                <% if (orders[0].order_status === 'waitpay') {%>
                                <div class="alert-warning p-2 rounded w-100 text-center">
                                    ลูกค้ายังไม่ได้ชำระเงิน
                                </div>
                                <%} else if (orders[0].order_status == 'pending' && payments[0].payment_status == 'pending' && payments.length > 0 ) {%>
                                <!-- <div class="alert-info text-center p-2 rounded mb-2">
                                    <p class="mb-0">ลูกค้าแจ้งชำระเงินเข้ามาแล้ว</p>
                                </div> -->
                                <div class="d-flex justify-content-between">
                                    วันที่โอน : <%= datetimeLocal(payments[0].paid_date) %>
                                    <div class="slipRow " role="button" data-bs-toggle="modal"
                                        data-bs-target="#slipShow" data-img="<%= payments[0].slip %>"
                                        style="width: 50px; height: 50px;">
                                        <img src="<%= payments[0].slip %>"" alt=" slip"
                                            class="object-cover w-100 h-100">
                                    </div>
                                </div>
                                <button class="btn btn-info btn-sm mt-3 fs-6 w-100" data-bs-toggle="modal"
                                    data-bs-target="#confirmPayment">ยืนยันการชำระ</button>
                                <% } else if (payments.length > 0 && payments[0].payment_status == 'approved') {%>
                                <div class="alert-info w-100 text-center p-2 rounded">
                                    ลูกค้าชำระเงินแล้ว
                                </div>
                                <% }%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div id="shipmentCol">
                            <h4>การจัดส่ง</h4>
                            <div class="">
                                <% shipment.forEach((addr) => { %>
                                <b id="ad-name"><%= addr.name %></b> <br>
                                <span class="card-text" id="ad-info">
                                    <%= addr.address %> <%= addr.province %> <%= addr.postcode %>
                                </span> <br>
                                <span id="ad-tel"><%= addr.telephone%></span>
                                <% }) %>
                            </div>

                            <h6 class="border-top my-3 pt-2">การจัดส่ง: <%= shipment[0].shipment_name %></h6>
                            <% if (payments.length > 0 && payments[0].payment_status == 'approved') { %>
                            <div role="button" class="editOrder-btn btn btn-primary fs-6 w-100" data-bs-toggle="modal"
                                data-bs-target="#updateModal" data-id="<%= orders[0].order_id %>"
                                data-tracking="<%= orders[0].tracking_number %>">
                                <% if (orders[0].order_status == 'shipping' || orders[0].order_status == 'success') { %>
                                แก้ไขเลขพัสดุ
                                <% } else { %>
                                จัดส่งสินค้าและใส่หมายเลขพัสดุ
                                <% } %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal" id="cancelOrder" aria-labelledby="selectAddress" role="dialog" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <i class="fas fa-triangle-exclamation alert-warning rounded-circle p-2 fs-4"></i>
                        <h5 class="modal-title d-inline">ยกเลิกออเดอร์</h5>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/adminCancel/<%= orders[0].order_id %>" class="needs-validation" method="post" novalidate>
                    <div class="modal-body" id="cancel-modal-body">
                        <div class="mb-3">
                            <label class="form-label" for="reason">เหตุผลที่ยกเลิก<span
                                    class="text-danger ms-1">*</span></label>
                            <select class="form-select" name="reason" id="reason" required>
                                <option value="วัสดุไม่เพียงพอ">วัสดุไม่เพียงพอ</option>
                                <option value="ไม่รับผลิตในขณะนี้">ไม่รับผลิตในขณะนี้</option>
                                <!-- <option value="ต้องการเปลี่ยนที่อยู่จัดส่ง">ต้องการเปลี่ยนที่อยู่จัดส่ง</option> -->
                                <option value="other">อื่นๆ</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="closeInsert" data-bs-dismiss="modal"
                            aria-label="Close">ปิด</button>
                        <button type="submit" id="changePayment" class="btn btn-danger">ยกเลิกออเดอร์</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="addPromptpayLabel" aria-hidden="true"
        data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button class="btn btn-secondary rounded-circle p-0 me-2" style="width: 40px; height: 40px;"
                data-mdb-toggle="modal" data-mdb-target="#addpayment"><i
                    class="fas fa-angle-left fs-5"></i></button> -->
                    <h5 class="modal-title" id="addPromptpayLabel">แก้ไขออเดอร์</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/updateOrderShipment/<%= orders[0].order_id %>" method="post" id="updateForm"
                    class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="col pb-3">
                            <div class="form-outline" id="trackingNumberInput">
                                <input type="text" class="form-control" name="trackingNumber" id="trackingNumber">
                                <label for="number" class="form-label">เลขพัสดุ</label>
                                <div class="invalid-feedback">
                                    กรุณากรอกเลขพัสดุ
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>ยืนยันการชำระ</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <% if (payments.length > 0) { %>
                    <div class="w-100">
                        <p>คุณต้องการยืนยันการชำระนี้หรือไม่ ?</p>
                        <span>หากกด<b class="text-success"> ยืนยัน </b>จะเปลี่ยนสถานะออเดอร์เป็นกำลังผลิต</span><br>
                        <span>หากกด<b class="text-danger"> ปฏิเสธ </b>จะเปลี่ยนสถานะออเดอร์เป็นรอการชำระ</span>
                        <div class="mt-4 text-center action-row">
                            <button class="btn btn-success actionBtn" data-id="<%= payments[0].payment_id %>"
                                data-status="approved">ยืนยัน</button>
                            <button class="btn btn-danger actionBtn" data-id="<%= payments[0].payment_id %>"
                                data-status="declined">ปฏิเสธ</button>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmShiped" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/confirmShiped/<%= orders[0].order_id %>" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>ยืนยันจัดส่งสำเร็จ</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="w-100">
                            <p>คุณต้องการยืนยันจัดส่งสำเร็จหรือไม่ ?</p>
                            <span>หากกด<b class="text-success"> ยืนยัน
                                </b>จะเปลี่ยนสถานะออเดอร์เป็นจัดส่งสำเร็จ</span><br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">ปฏิเสธ</button>
                        <button class="btn btn-success" type="submit">ยืนยัน</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="slipShow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img id="slipImg" src="" alt="slipimg" class="w-75 h-75">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });

    $(document).ready(function () {
        $('.editOrder-btn').click(function () {
            $('#trackingNumber').val($(this).data('tracking'));
        });

        // $('#statusOrder').on('change', function () {
        //     if ($(this).val() == 'waitpay' || $(this).val() == 'pending' || $(this).val() == 'cancel') {
        //         $('#trackingNumberInput').hide();
        //     } else {
        //         $('#trackingNumberInput').show();
        //     }
        // })
        // $('#statusOrder').trigger('change');

    });

    $('.table').DataTable({
        order: [
            [5, 'desc']
        ],
    });

    $(document).ready(function () {
        $('.actionBtn').each(function () {
            $(this).click(function () {
                var pid = $(this).data('id');
                var statusText = $(this).data('status');
                let loading = `<div class="spinner-border text-secondary fs-3" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>`
                const actionRow = $(this).closest('.action-row');

                actionRow.append(loading)
                $('.actionBtn').prop('disabled', true)
                $.ajax({
                    url: `/updatePaymentStatus/<%= orders[0].order_id %>/${pid}/${statusText}`,
                    type: 'POST',
                    success: function () {
                        setTimeout(() => {
                            $(`#paymentCol`).load(location.href +
                                ` #paymentCol`);
                            $(`#shipmentCol`).load(location.href +
                                ` #shipmentCol`);
                            $('.spinner-border').remove()
                            $('.actionBtn').prop('disabled', false)
                            $('#confirmPayment').hide();
                            $('.modal-backdrop').remove();
                            Swal.fire({
                                icon: 'success',
                                title: 'อัพเดทสถานะการชำระเงินสำเร็จ',
                                text: '',
                            })
                        }, 1000);
                    }
                })
            })
        });

        $('.slipRow').each(function () {
            $(this).click(function () {
                $('#slipImg').attr('src', `${$(this).data('img')}`)
            })
        })
    })
</script>