<%- include('../../partials/admin-nav') %>
<%     function datetimeLocal(datetime) { %>
<%   const dt = new Date(datetime); %>
<%    dt.setMinutes(dt.getMinutes() - dt.getTimezoneOffset()); %>
<%   return dt.toISOString().slice(0, 10) + ' ' + dt.toISOString().slice(11, 16); %>
<%  } %>

<body class="h-100" style="background-color: rgb(248, 248, 248);">
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>แจ้งชำระเงิน</h1>
        </div>
    </div>
    <div style="padding-bottom: 100px;"></div>

    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>

        <div class="card" style="width: 100%; margin: auto;">
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white table-striped" id="table">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>ออเดอร์</th>
                            <th>หลักฐานการชำระเงิน</th>
                            <th>จำนวนเงิน</th>
                            <th>ผู้จ่าย</th>
                            <th>วันที่ชำระ</th>
                            <th>สถานะ</th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        <% payments.forEach((payment, index) => { %>
                        <tr id="row<%= payment.payment_id %>">
                            <td style="width: 50px;">
                                <%= index %>
                            </td>
                            <td style="width: 150px;">
                                <a href="/admin/order/<%= payment.order_id %>" class="btn btn-link btn-sm">
                                    #<%= payment.order_id %>
                                </a>
                            </td>
                            <td class="slipRow" role="button" data-bs-toggle="modal" data-bs-target="#slipShow"
                                data-img="<%= payment.slip %>">
                                <img src="<%= payment.slip %>"" alt="" style=" height: 50px; object-fit: cover;">
                            </td>
                            <td>
                                <%= money.format(payment.amount) %>
                            </td>
                            <td><%= payment.name %></td>
                            <td>
                                <%= datetimeLocal(payment.paid_date) %>
                            </td>
                            <td id="colStatus<%= payment.payment_id %>">
                                <div>
                                    <% if (payment.payment_status === 'pending') { %>
                                    <span class="alert-warning p-2">รอตรวจสอบ</span>
                                    <% } else if (payment.payment_status === 'approved') { %>
                                    <span class="alert-success p-2">ยืนยัน</span>
                                    <% } else if (payment.payment_status === 'declined') { %>
                                    <span class="alert-danger p-2">ปฏิเสธ</span>
                                    <% } %>
                                </div>
                            </td>
                            <td class="action-row">
                                <button class="btn btn-success actionBtn" data-id="<%= payment.payment_id %>"
                                    data-status="approved">ยืนยัน</button>
                                <button class="btn btn-danger actionBtn" data-id="<%= payment.payment_id %>"
                                    data-status="declined">ปฏิเสธ</button>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="slipShow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <img id="slipImg" src="" alt="slipimg" class="w-100 h-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script src="/js/validateBs.js"></script>
<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });

    $('.table').DataTable({
        order: [
            [5, 'desc']
        ],
    });

    $(document).ready(function () {
        $('.actionBtn').each(function () {
            $(this).click(function () {
                var id = $(this).data('id');
                var statusText = $(this).data('status');
                let loading = `<div class="spinner-border text-secondary fs-3" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>`
                const actionRow = $(this).closest('.action-row');

                actionRow.append(loading)
                $('.actionBtn').prop('disabled', true)
                $.ajax({
                    url: `/updatePaymentStatus/${id}/${statusText}`,
                    type: 'POST',
                    success: function () {
                        setTimeout(() => {
                            $(`#colStatus${id}`).load(location.href + ` #colStatus${id}`);
                            $('.spinner-border').remove()
                            $('.actionBtn').prop('disabled', false)
                            Swal.fire({
                                icon: 'success',
                                title: 'อัพเดทสถานะการชำระเงินสำเร็จ',
                                text: '',
                            })
                        }, 1000);
                    }
                })
            }) 
        });

        $('.slipRow').each(function () {
            $(this).click(function () {
                $('#slipImg').attr('src', `${$(this).data('img')}`)
            })
        })
    })
</script>