<%- include('../../partials/admin-nav') %>
<style>
    .dd-selected-image,
    .dd-option-image {
        margin: 0.85em 0.5em;
        width: 35px !important;
    }

    .dd-selected,
    .dd-option {
        padding: 0;
        height: 60px;
    }

    .dd-option-text {
        line-height: 0;
    }

    label.dd-selected-text {
        line-height: 62px !important;
    }
</style>

<body style="background-color: #f8f8f8;">
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>การชำระเงิน</h1>
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>

    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>
        <div class="card shadow-5-strong" id="bankSection" style="width: 100%; margin: auto;">
            <div class="card-body">
                <button type="button" class="btn btn-secondary mb-3 fs-6" data-mdb-toggle="modal"
                    data-mdb-target="#addBank">
                    <i class="fa-solid fa-plus"></i>
                    เพิ่มช่องการชำระ
                </button>
                <table class="table align-middle mb-0 bg-white tb" id="table">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>ชื่อเจ้าของบัญชี</th>
                            <th>เลข</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <%     function datetimeLocal(datetime) { %>
                    <%   const dt = new Date(datetime); %>
                    <%    dt.setMinutes(dt.getMinutes() - dt.getTimezoneOffset()); %>
                    <%   return dt.toISOString().slice(0, 10) + ' ' + dt.toISOString().slice(11, 16); %>
                    <%  } %>

                    <tbody>

                        <% payment_method.forEach((method, index) => { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <img src="/assets/img/logoBank/<%= method.method_name %>.png" alt=""
                                    style="width: 50px;">
                            </td>
                            <td>
                                <%= method.name %>
                            </td>
                            <td>
                                <%= method.number %>
                            </td>
                            <td>
                                <% let name; %>
                                <% const bankname = banklist.find(row => row.en == method.method_name) %>
                                <% if (bankname) { %>
                                    <% name = `โอนเงินผ่าน${bankname.th}` %>
                                <% } else { %>
                                    <% name = `โอนเงินผ่าน Qr-code พร้อมเพย์` %>
                                <% } %>
                                <div class="btn btn-warning btn-sm edit" data-mdb-toggle="modal"
                                    data-mdb-target="#updateModal" data-id="<%= method.payment_method_id %>"
                                    data-metname="<%= method.method_name %>" data-name="<%= method.name %>"
                                    data-type="<%= method.method_type %>" data-number="<%= method.number %>"
                                    data-status="<%= method.statusPayment %>">
                                    แก้ไข
                                </div>
                                <button type="button" class="btn btn-danger btn-sm delete" data-mdb-toggle="modal"
                                    data-mdb-target="#deleteModal" data-id="<%= method.payment_method_id %>"
                                    data-name="<%= name %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="addpayment" tabindex="-1" aria-labelledby="addpaymentLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addpaymentLabel">เลือกช่องทางการชำระเงิน</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div role="button" class="col-5 m-2 p-3 border text-center" data-mdb-toggle="modal"
                            data-mdb-target="#addPromptpay">
                            <div class="m-auto" style="width: 170px; height: 100px;">
                                <img src="/assets/img/prompt-pay.png" alt="" class="w-100">
                            </div>
                            <h4>QR Code PromptPay</h4>
                        </div>
                        <div role="button" class="col-5 m-2 p-3 border text-center" data-mdb-toggle="modal"
                            data-mdb-target="#addBank">
                            <div class="m-auto" style="width: 170px; height: 100px;">
                                <img src="/assets/img/allbank.png" alt="" class="w-100">
                            </div>
                            <h4>โอนเงินผ่านบัญชีธนาคาร</h4>
                            </img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="modal fade" id="addPromptpay" tabindex="-1" aria-labelledby="addPromptpayLabel" aria-hidden="true"
        data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-secondary rounded-circle p-0 me-2" style="width: 40px; height: 40px;"
                        data-mdb-toggle="modal" data-mdb-target="#addpayment"><i
                            class="fas fa-angle-left fs-5"></i></button>
                    <h5 class="modal-title" id="addPromptpayLabel">ตั้งค่า PromptPay</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/savePromptPay" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="col ">
                            <label for="exampleInputEmail1" class="form-label">ประเภทหมายเลข PromptPay</label><br>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="promptPayType" id="inlineRadio1"
                                        value="0" required checked />
                                    <label class="form-check-label" for="inlineRadio1">หมายเลขโทรศัพท์</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="promptPayType" id="inlineRadio2"
                                        value="1" required />
                                    <label class="form-check-label" for="inlineRadio2">รหัสบัตรประชาชน</label>
                                </div>
                            </div>
                        </div>
                        <div class="col pb-3">
                            <div class="form-outline">
                                <input type="text" class="form-control" id="number" name="promptpayNumber"
                                    pattern="[0-9]+" maxlength="10" required>
                                <label for="number" class="form-label">หมายเลข</label>
                                <div class="invalid-feedback">
                                    หมายเลขต้องเป็นตัวเลขเท่านั้น
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-5">
                                <input type="text" class="form-control" id="name" name="name" required>
                                <label for="name" class="form-label">ชื่อ-นามสกุลผู้รับ</label>
                                <div class="invalid-feedback">
                                    ชื่อต้องเป็นตัวอักษรเท่านั้น
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <div class="modal fade" id="addBank" tabindex="-1" aria-labelledby="addPromptpayLabel" aria-hidden="true"
        data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPromptpayLabel">เพิ่มช่องการทำชำระ</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/addmethod" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="col mb-2">
                            <label for="exampleInputEmail1" class="form-label">ประเภทช่องทางการชำระ :</label><br>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="methodType" id="inlineRadio2"
                                        value="1" required checked />
                                    <label class="form-check-label" for="inlineRadio2">โอนเงินผ่านบัญชีธนาคาร</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="methodType" id="inlineRadio1"
                                        value="0" required />
                                    <label class="form-check-label" for="inlineRadio1">พร้อมเพย์</label>
                                </div>
                            </div>
                        </div>
                        <div class="col pb-3" id="bankdropdown">
                            <select id="selectBank">
                                <option value="bbl" data-imagesrc="/assets/img/logoBank/bbl.png">ธนาคารกรุงเทพ</option>
                                <option value="ktb" data-imagesrc="/assets/img/logoBank/ktb.png">ธนาคารกรุงไทย</option>
                                <option value="gsb" data-imagesrc="/assets/img/logoBank/gsb.png">ธนาคารออมสิน
                                </option>
                                <option value="bay" data-imagesrc="/assets/img/logoBank/bay.png">ธนาคารกรุงศรีอยุธยา
                                </option>
                                <option value="kbank" data-imagesrc="/assets/img/logoBank/kbank.png">ธนาคารกสิกรไทย
                                </option>
                                <option value="scb" data-imagesrc="/assets/img/logoBank/scb.png">ธนาคารไทยพาณิชย์
                                </option>

                                <option value="ttb" data-imagesrc="/assets/img/logoBank/ttb.png">ธนาคารทหารไทยธนชาต
                                </option>
                                <option value="cimb" data-imagesrc="/assets/img/logoBank/cimb.png">ธนาคารซีไอเอ็มบี ไทย
                                </option>
                                <option value="sc" data-imagesrc="/assets/img/logoBank/sc.png">ธนาคารสแตนดาร์ดชาร์เตอร์ด
                                </option>
                                <option value="uob" data-imagesrc="/assets/img/logoBank/uob.png">ธนาคารยูโอบี</option>
                                <option value="kk" data-imagesrc="/assets/img/logoBank/kk.png">ธนาคารเกียรตินาคินภัทร
                                </option>
                                <option value="lhb" data-imagesrc="/assets/img/logoBank/lhb.png">ธนาคารแลนด์ แอนด์
                                    เฮ้าส์
                                </option>
                                <option value="icbc" data-imagesrc="/assets/img/logoBank/icbc.png">ธนาคารไอซีบีซี
                                </option>
                                <option value="tcrb" data-imagesrc="/assets/img/logoBank/tcrb.png">ธนาคารไทยเครดิต
                                </option>
                                <option value="mega" data-imagesrc="/assets/img/logoBank/mega.png">ธนาคารเมกะ
                                    สากลพาณิชย์</option>
                            </select>
                        </div>
                        <div class="col pb-3">
                            <div class="form-outline">
                                <input type="text" class="form-control" name="ownerName" pattern="[A-Za-zก-๙ ]+$"
                                    maxlength="10" required>
                                <label for="number" class="form-label">ชื่อผู้รับ <span
                                        class="text-danger ms-1">*</span></label>
                                <div class="invalid-feedback">
                                    ชื่อต้องเป็นตัวอักษรเท่านั้น
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline mb-5">
                                <input type="text" class="form-control bankNumber" name="number" required
                                    minlength="10">
                                <label for="name" class="form-label">เลขบัญชี <span
                                    class="text-danger ms-1">*</span></label>
                                <div class="invalid-feedback">
                                    กรุณากรอกเลขบัญชีให้ครบ
                                </div>
                            </div>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="status" value="1" role="switch"
                                id="flexSwitchCheckDefault" />
                            <label class="form-check-label" for="flexSwitchCheckDefault">เปิดใช้งาน</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="addPromptpayLabel" aria-hidden="true"
        data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button class="btn btn-secondary rounded-circle p-0 me-2" style="width: 40px; height: 40px;"
                    data-mdb-toggle="modal" data-mdb-target="#addpayment"><i
                        class="fas fa-angle-left fs-5"></i></button> -->
                    <h5 class="modal-title" id="addPromptpayLabel">แก้ไขบัญชีธนาคาร</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/updatemethod" method="post" id="updateForm" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="col mb-2">
                            <label for="exampleInputEmail1" class="form-label">ประเภทช่องทางการชำระ :</label><br>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="NewMethodType" id="inlineRadio2"
                                        value="1" required checked />
                                    <label class="form-check-label" for="inlineRadio2">โอนเงินผ่านบัญชีธนาคาร</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="NewMethodType" id="inlineRadio1"
                                        value="0" required />
                                    <label class="form-check-label" for="inlineRadio1">พร้อมเพย์</label>
                                </div>
                            </div>
                        </div>
                        <div class="col pb-3" id="bankdropdownedit">

                        </div>
                        <div class="col pb-3">
                            <div class="form-outline">
                                <input type="text" class="form-control" name="NewOwnerName" id="NewOwnerName"
                                    pattern="[A-Za-zก-๙ ]+$" maxlength="45" required>
                                <label for="number" class="form-label">ชื่อผู้รับ</label>
                                <div class="invalid-feedback">
                                    ชื่อต้องเป็นตัวอักษรเท่านั้น
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline mb-5">
                                <input type="text" class="form-control bankNumber" name="NewNumber" id="NewNumber"
                                    required minlength="10">
                                <label for="name" class="form-label">เลข</label>
                                <div class="invalid-feedback">
                                    กรุณากรอกเลขบัญชีให้ครบ
                                </div>
                            </div>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="newstatus" value="1" role="switch"
                                id="newstatus" />
                            <label class="form-check-label" for="newstatus">เปิดใช้งาน</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">ลบประเภท</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/deletemethod" id="deleteForm" method="post">
                        <div>
                            <p>ต้องการลบช่องทางการชำระ <b id="NameWarning"></b> ใช่หรือไม่ ?</p>
                        </div>
                        <input type="hidden" id="id" name="coupon_id" value="" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-mdb-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-danger">ยืนยัน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/validateBs.js"></script>
<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });

    $('#selectBank').ddslick({
        width: '100%',
        height: 300,
        imagePosition: "left",
    });



    $('#selectBank .dd-selected-value').attr('name', 'methodName')
    $(document).ready(function () {
        $('.table').DataTable({
            order: [
                [0, 'desc']
            ],
        });

        $('.list-group-item').each(function () {
            $(this).click(function () {
                $('.list-group-item').removeClass('active')
                $(this).addClass('active')
            })
        })


        let select = ` <select id="selectBank">
                                <option value="bbl" data-imagesrc="/assets/img/logoBank/bbl.png">ธนาคารกรุงเทพ</option>
                                <option value="ktb" data-imagesrc="/assets/img/logoBank/ktb.png">ธนาคารกรุงไทย</option>
                                <option value="gsb" data-imagesrc="/assets/img/logoBank/gsb.png">ธนาคารออมสิน
                                </option>
                                <option value="bay" data-imagesrc="/assets/img/logoBank/bay.png">ธนาคารกรุงศรีอยุธยา
                                </option>
                                <option value="kbank" data-imagesrc="/assets/img/logoBank/kbank.png">ธนาคารกสิกรไทย
                                </option>
                                <option value="scb" data-imagesrc="/assets/img/logoBank/scb.png">ธนาคารไทยพาณิชย์
                                </option>

                                <option value="ttb" data-imagesrc="/assets/img/logoBank/ttb.png">ธนาคารทหารไทยธนชาต
                                </option>
                                <option value="cimb" data-imagesrc="/assets/img/logoBank/cimb.png">ธนาคารซีไอเอ็มบี ไทย
                                </option>
                                <option value="sc" data-imagesrc="/assets/img/logoBank/sc.png">ธนาคารสแตนดาร์ดชาร์เตอร์ด
                                </option>
                                <option value="uob" data-imagesrc="/assets/img/logoBank/uob.png">ธนาคารยูโอบี</option>
                                <option value="kk" data-imagesrc="/assets/img/logoBank/kk.png">ธนาคารเกียรตินาคินภัทร
                                </option>
                                <option value="lhb" data-imagesrc="/assets/img/logoBank/lhb.png">ธนาคารแลนด์ แอนด์
                                    เฮ้าส์
                                </option>
                                <option value="icbc" data-imagesrc="/assets/img/logoBank/icbc.png">ธนาคารไอซีบีซี
                                </option>
                                <option value="tcrb" data-imagesrc="/assets/img/logoBank/tcrb.png">ธนาคารไทยเครดิต
                                </option>
                                <option value="mega" data-imagesrc="/assets/img/logoBank/mega.png">ธนาคารเมกะ
                                    สากลพาณิชย์</option>
                            </select>`
        // $('input[name="promptpayNumber"]').mask('000 000 0000')
        $('input[type=radio][name="methodType"]').change(function () {
            if (this.value == '0') {
                $('input[name="methodType"]').attr('minlength', '10')
                $('#selectBank').remove()
            } else if (this.value == '1') {
                $('input[name="methodType"]').attr('minlength', '15')
                $('#bankdropdown').append(select)
                $('#selectBank').ddslick({
                    width: '100%',
                    height: 300,
                    imagePosition: "left",
                });
            }
        })
        $('input[name="promptpayNumber"]').on('input', function () {
            // Trigger the change event to apply minlength and masking
            $('input[type=radio][name="promptPayType"]:checked').trigger('change');
        });

        let newselect = `<select class="selectBank" id="NewSelectBank">
                                <option value="bbl" data-imagesrc="/assets/img/logoBank/bbl.png">ธนาคารกรุงเทพ</option>
                                <option value="ktb" data-imagesrc="/assets/img/logoBank/ktb.png">ธนาคารกรุงไทย</option>
                                <option value="gsb" data-imagesrc="/assets/img/logoBank/gsb.png">ธนาคารออมสิน
                                </option>
                                <option value="bay" data-imagesrc="/assets/img/logoBank/bay.png">ธนาคารกรุงศรีอยุธยา
                                </option>
                                <option value="kbank" data-imagesrc="/assets/img/logoBank/kbank.png">ธนาคารกสิกรไทย
                                </option>
                                <option value="scb" data-imagesrc="/assets/img/logoBank/scb.png">ธนาคารไทยพาณิชย์
                                </option>

                                <option value="ttb" data-imagesrc="/assets/img/logoBank/ttb.png">ธนาคารทหารไทยธนชาต
                                </option>
                                <option value="cimb" data-imagesrc="/assets/img/logoBank/cimb.png">ธนาคารซีไอเอ็มบี ไทย
                                </option>
                                <option value="sc" data-imagesrc="/assets/img/logoBank/sc.png">ธนาคารสแตนดาร์ดชาร์เตอร์ด
                                </option>
                                <option value="uob" data-imagesrc="/assets/img/logoBank/uob.png">ธนาคารยูโอบี</option>
                                <option value="kk" data-imagesrc="/assets/img/logoBank/kk.png">ธนาคารเกียรตินาคินภัทร
                                </option>
                                <option value="lhb" data-imagesrc="/assets/img/logoBank/lhb.png">ธนาคารแลนด์ แอนด์
                                    เฮ้าส์
                                </option>
                                <option value="icbc" data-imagesrc="/assets/img/logoBank/icbc.png">ธนาคารไอซีบีซี
                                </option>
                                <option value="tcrb" data-imagesrc="/assets/img/logoBank/tcrb.png">ธนาคารไทยเครดิต
                                </option>
                                <option value="mega" data-imagesrc="/assets/img/logoBank/mega.png">ธนาคารเมกะ
                                    สากลพาณิชย์</option>
                            </select>`
        $(document).on("click", ".edit", function () {
            let methodName = $(this).data('metname')
            let methodType = $(this).data('type')
            if (methodType == "1") {
                $('#bankdropdownedit').empty().append(newselect)
                $('#NewSelectBank').ddslick({
                    width: '100%',
                    height: 300,
                    imagePosition: "left",
                });
                $('#NewSelectBank .dd-selected-value').attr('name', 'NewMethodName')
                const options = $('#NewSelectBank .dd-option-value');
                let index = -1;

                options.each(function (i) {
                    if ($(this).val() === methodName) {
                        index = i;
                        return false;
                    }
                });

                if (index !== -1) {
                    $('#NewSelectBank').ddslick('select', {
                        index: index
                    });
                }
            } else {
                $('#bankdropdownedit').empty()
            }

            // $('#NewSelectBank').ddslick('select', {index: i });
            $('#updateForm').attr('action', `/updatemethod/${$(this).data('id')}`)
            $('#NewOwnerName').val($(this).data('name'))
            $('#NewNumber').val($(this).data('number'))
            console.log($(this).data('status'));
            if ($(this).data('status') === 1) {
                $('#newstatus').prop('checked', true)
            } else {
                $('#newstatus').prop('checked', false)
            }
            $('input[type=radio][name="NewMethodType"]').each(function () {
                if (this.value == methodType) {
                    $(this).prop('checked', true)
                }
            })
        });



        $('input[type=radio][name="NewMethodType"]').change(function () {
            if (this.value == '0') {
                $('input[name="NewNumber"]').attr('minlength', '10')
                $('#NewSelectBank').remove()
            } else if (this.value == '1') {
                $('input[name="NewNumber"]').attr('minlength', '15')
                $('#bankdropdownedit').append(newselect)
                $('#NewSelectBank').ddslick({
                    width: '100%',
                    height: 300,
                    imagePosition: "left",
                });
                $('#NewSelectBank .dd-selected-value').attr('name', 'NewMethodName')

            }
        })
        $(document).on("click", ".delete", function () {
            $('#NameWarning').text($(this).data('name'))
            $('#deleteForm').attr('action', `/deletemethod/${$(this).data("id")}`)
        });


        //     $('#savePromptPay').submit(function (event) {
        //         const formData = $(this).serialize();
        //         event.preventDefault();
        //         let loading = `    <div class="backdrop">
        //     <div class="d-flex justify-content-center align-self-center">
        //         <div class="spinner-border text-light fs-1" role="status">
        //           <span class="visually-hidden"></span>
        //         </div>
        //       </div>
        // </div>`
        //         if (!this.checkValidity()) {
        //             event.stopPropagation();
        //         } else {
        //             $(this).removeClass('was-validated')
        //             $('body').append(loading)
        //             $.ajax({
        //                 url: `/savePromptPay`,
        //                 type: 'POST',
        //                 data: formData,
        //                 success: function () {
        //                     setTimeout(() => {
        //                         $('.backdrop').remove();
        //                         Swal.fire({
        //                             icon: 'success',
        //                             title: 'สำเร็จ',
        //                             text: 'บันทึกข้อมูลพร้อมเพย์แล้ว',
        //                         });
        //                     }, 600);
        //                 },
        //                 error: function (xhr, status, error) {
        //                     console.error('Error deleting item:',
        //                         error);
        //                     setTimeout(() => {
        //                         $('.backdrop').remove();
        //                         Swal.fire({
        //                             icon: 'error',
        //                             title: 'มีบางอย่างผิดพลาด...',
        //                             text: 'กรุณาลองเพิ่มที่อยู่ใหม่อีกครั้ง',
        //                         });
        //                     }, 600);
        //                 }
        //             });
        //         }
        //     })
    });
</script>