<%- include('../../partials/admin-nav') %>


<body class="h-100" style="background-color: #f8f8f8;">
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>สินค้า</h1>
            <!-- <ol class="list-unstyled d-flex ">
                <li class="breadcrumb-item"><a class="link-light" href="#">หน้าแรก</a></li>
                <li class="active text-light ms-2">/ สินค้า</li>
            </ol> -->
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>
    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%- item %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>
        <a href="/admin/addproduct">
            <button type="button" class="btn btn-secondary mb-3 fs-6" data-mdb-toggle="modal"
                data-mdb-target="#addProduct">
                <i class="fa-solid fa-plus"></i>
                เพิ่มสินค้า
            </button>
        </a>
        <div class="table-cate-tab">
            <div class="d-flex">
                <button class="tab btn active" data-target="all-tb">ทั้งหมด</button>
                <button class="tab btn" data-target="bill-tb">บิล</button>
                <button class="tab btn" data-target="sticker-tb">สติ๊กเกอร์</button>
                <button class="tab btn" data-target="envelope-tb">ซองจดหมาย</button>
            </div>
        </div>

        <% const cate = ['bill', 'sticker', 'envelope'] %>

        <div class="card shadow-5-strong" id="all-tb" style="width: 100%; margin: auto; border-top-left-radius: 0;">
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white tb" id="table">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อ</th>
                            <th>ประเภท</th>
                            <th>สถานะ</th>
                            <th>Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                        <% if(products.length > 0) {%>
                        <% products.forEach((product, index) => { %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= index %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <img src="<%= product.picture %>" alt="">
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= product.productName %></p>
                            </td>
                            <td>
                                <% let cate; %>
                                <% if (product.categories == 'bill') cate = 'บิล' %>
                                <% if (product.categories == 'sticker') cate = 'สติ๊กเกอร์' %>
                                <% if (product.categories == 'envelope') cate = 'ซองจดหมาย' %>
                                <%= cate %>
                            </td>
                            <td><% if(product.status = 1) { %>
                                เปิดรับทำ
                                <% }else if(product.status = 0){ %>
                                ปิดรับทำ
                                <% } %>
                            </td>
                            <td>
                                <a href="/admin/product/edit/<%= product.product_id %>">
                                    <div class="btn btn-warning btn-sm btn-edit">
                                        แก้ไข
                                    </div>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm delete" data-mdb-toggle="modal"
                                    data-mdb-target="#deleteModal" data-product-id="<%= product.product_id %>" data-name="<%= product.productName %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>

            </div>
        </div>
        <% cate.forEach((item) => { %>
        <div class="card shadow-5-strong" id="<%= item %>-tb"
            style="width: 100%; margin: auto; border-top-left-radius: 0;">
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white tb">
                    <thead class="bg-light">
                        <tr>
                            <th>No.</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อ</th>
                            <th>สถานะ</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(products.length > 0) {%>
                        <% products.forEach((product) => { %>
                        <% if(product.categories === item) {%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-normal mb-1"><%= product.product_id %></p>
                                </div>
                            </td>
                            <td class="product-picture">
                                <img src="<%= product.picture %>" alt="">
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%= product.productName %></p>
                            </td>
                            <td><% if(product.status = 1) { %>
                                เปิดรับทำ
                                <% }else if(product.status = 0){ %>
                                ปิดรับทำ
                                <% } %>
                            </td>
                            <td>

                                <a href="/admin/product/edit/<%= product.product_id %>">
                                    <div class="btn btn-warning btn-sm btn-edit">
                                        แก้ไข
                                    </div>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm delete" data-mdb-toggle="modal"
                                    data-mdb-target="#deleteModal" data-product-id="<%= product.product_id %>" data-name="<%= product.productName %>">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <% }) %>

    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">ลบประเภท</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/deleteProduct" method="post">
                        <div>
                            <p>ต้องการลบสินค้า <b class="pd-name-delete"></b> ใช่หรือไม่ ?</p>
                        </div>
                        <input type="hidden" id="id" name="product_id" value="" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-mdb-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-danger">ยืนยัน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade slidedown" id="addProduct" tabindex="-1" aria-labelledby="addProduct" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="m-auto ">เลือกประเภทสินค้า</h3>
                    <button type="button" class="btn-close position-absolute end-0 me-3" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-md-4">
                        <a href="" class="col product-cate">
                            <span>นามบัตร</span>
                            <div class="h-100 w-100 overflow-hidden">
                                <img class="imageFitBox"
                                    src="https://i.pinimg.com/originals/a9/f4/93/a9f4936d8820eee8ef00d5d74264f0ce.jpg"
                                    alt="">
                            </div>
                            <div class="type-name">
                            </div>
                        </a>
                        <a href="" class="col product-cate">
                            <span>แผ่นพับ</span>
                            <div class="h-100 w-100 overflow-hidden">
                                <img class="imageFitBox"
                                    src="https://i.pinimg.com/564x/5b/dc/d4/5bdcd403ebc4cf798d471efc434e67f5.jpg"
                                    alt="">
                            </div>
                            <div class="type-name">
                            </div>
                        </a>
                        <a href="" class="col product-cate">
                            <span>สติ๊กเกอร์</span>
                            <div class="h-100 w-100 overflow-hidden">
                                <img class="imageFitBox"
                                    src="https://i.pinimg.com/564x/af/39/d8/af39d81211c7ddb94ab7edac04520b5a.jpg"
                                    alt="">
                            </div>
                            <div class="type-name">
                            </div>
                        </a>
                        <a href="" class="col product-cate">
                            <span>ใบบิล</span>
                            <div class="h-100 w-100 overflow-hidden">
                                <img class="imageFitBox"
                                    src="https://www.พิมพ์ถูก.com/wp-content/uploads/2021/03/pimtook_bill_1c_3copy_cover-scaled.jpg"
                                    alt="">
                            </div>
                            <div class="type-name">
                            </div>
                        </a>
                        <a href="" class="col product-cate">
                            <span>ซองจดหมาย</span>
                            <div class="h-100 w-100 overflow-hidden">
                                <img class="imageFitBox"
                                    src="https://i.pinimg.com/564x/88/ae/eb/88aeeb1b25e63c663a7b5e340f458e2a.jpg"
                                    alt="">
                            </div>
                            <div class="type-name">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <script>
        $(document).ready(function () {
            $('.tb').DataTable({
                order: [
                    [0, 'desc']
                ],
            });
        });

        $(document).on("click", ".delete", function () {
            var productId = $(this).data("product-id");
            var name = $(this).data("name");
            $("#id").val(productId);
            $(".pd-name-delete").text(name)
        });

        $(document).ready(function () {
            $('#card-tb').hide();
            $('#flyer-tb').hide();
            $('#leaflet-tb').hide();
            $('#sticker-tb').hide();
            $('#bill-tb').hide();
            $('#envelope-tb').hide();

            $(".tab").on("click", function () {
                const targetSection = $(this).data("target");
                $(".tab").removeClass("active");
                $(this).addClass("active");
                $(".box-admin .card").hide();
                $("#" + targetSection).show();
            });
        });
    </script>
</body>